@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@400;600&display=swap');

*
{
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #34495e;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #625f64e5;
    border-radius: 10px;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 80px 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    color: #7f8c8d;
}

.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 3px solid #d8d8d848;
    border-bottom: 3px solid #d8d8d848;
    margin-bottom: 30px;
    font-size: 0.9rem;
    color: #696969;
}

.read-time {
    background-color: #efefef;
    padding: 5px 10px;
    border-radius: 20px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 1.8rem;
    color: #2c3e50;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    color: #34495e;
    margin-top: 30px;
    margin-bottom: 15px;
}

h3 {
    display: flex;
    align-items: center;
    position: relative;
}

h3::before {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #adadadc4;
    margin-right: 10px;
}

p {
    margin-bottom: 20px;
}
a 
{
    text-decoration: none;
    color: #5569c3;
    font-weight: 700;
}
ul,
ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: 600;
    color: #2c3e50;
}

.call-to-action {
    background-color: #e1e1e163;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
}

.call-to-action h2 {
    margin-bottom: 20px;
}

.call-to-action ul {
    list-style-type: none;
    padding: 0;
}

.cta-button {
    display: inline-block;
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 12px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #e3e3e3;
    color: #1d1d1d;
    transform: scale(1.01);
}

.floating-navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;
}


.nav-icon-instagram {
    color: #000000;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-icon-youtube {
    color: #000000;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-icon-linkedin {
    color: #000000;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-icon-medium {
    color: #000000;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-icon-comment {
    color: #000000;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-icon-theme {
    color: #000000;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-icon-instagram:hover {
    color: #db6ac4;
    transform: scale(1.1);
}

.nav-icon-youtube:hover {
    color: #d84449;
    transform: scale(1.1);
}

.nav-icon-linkedin:hover {
    color: #5569c3;
    transform: scale(1.1);
}

.nav-icon-medium:hover {
    color: #534d51;
    transform: scale(1.1);
}

.nav-icon-comment:hover {
    color: #555b5b;
    transform: scale(1.1);
}

.cta-buttonnav {
    display: inline-block;
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;

}

.cta-buttonnav:hover {
    background-color: #e3e3e3;
    color: #1d1d1d;
    transform: scale(1.01);
}


#back-to-top {
    position: fixed;
    bottom: 20px;
    right: -60px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: right 0.3s, background-color 0.3s, color 0.3s;
}

#back-to-top:hover {
    background-color: #a6a6a6;
    color: #000;
}



@media (max-width: 798px) {
    .container {
        padding: 20px;
        margin-top: 10%;
    }

    h1 {
        font-size: 2rem;
    }

    .author-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .author-info>div {
        margin-bottom: 5px;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 600px) {
    .floating-navbar {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 30px;
        padding: 5px 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1000;
        height: 6%;
        width: 80%;
    }

    .cta-buttonnav {
        display: inline-block;
        background-color: #1d1d1d;
        color: #ffffff;
        padding: 7px 7px;
        border-radius: 30px;
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease;
        font-size: smaller;
    }

    .video-container iframe {
        width: 100%;
    }

    .container {
        padding: 20px;
        margin-top: 20%;
    }

    h1 {
        font-size: 2rem;
    }

    .author-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .author-info>div {
        margin-bottom: 5px;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}


