:root {
    --transition: 0.25s;
    --spark: 1.8s;
    --cut: 0.1em;
    --active: 0;
}

.searchButtonText {
    position: absolute;
    top: 50%;
    left: 79%;
    transform: translateY(-50%);
}

.searchBtn {
    --bg: radial-gradient(
            40% 50% at center 100%,
            hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
            transparent
        ),
        radial-gradient(
            80% 100% at center 120%,
            hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
            transparent
        ),
        hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
    background: var(--bg);
    font-size: 2rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    padding: 0.9em 1.3em;
    display: flex;
    align-items: center;
    gap: 0.25em;
    white-space: nowrap;
    border-radius: 25px;
    transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
	position: relative;
	transform: scale(0.5);
}

.searchBtn:active {
    scale: 1;
}

.searchBtn:is(:hover, :focus-visible) path {
    animation-name: bounce;
}

.sparkle path {
	color: hsl(0 0% calc((var(--active, 0) * 70%) + var(--base)));
	transform-box: fill-box;
	transform-origin: center;
	fill: currentColor;
	stroke: currentColor;
	animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
	animation-duration: 0.6s;
	transition: color var(--transition);
}

.searchBtn:is(:hover, :focus-visible) path {
	animation-name: bounce;
}

@keyframes bounce {
	35%, 65% {
		scale: var(--scale);
	}
}
.sparkle path:nth-of-type(1) {
	--scale: 0.5;
	--delay: 0.1;
	--base: 40%;
}

.sparkle path:nth-of-type(2) {
	--scale: 1.5;
	--delay: 0.2;
	--base: 20%;
}

.sparkle path:nth-of-type(3) {
	--scale: 2.5;
	--delay: 0.35;
	--base: 30%;
}

.spark {
    position: absolute;
    inset: 0;
    border-radius: 100px;
    rotate: 0deg;
    overflow: hidden;
    mask: linear-gradient(white, transparent 50%);
    animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
    to {
        rotate: 360deg;
    }
}

.searchBtn:before {
    content: "";
    position: absolute;
    inset: -0.25em;
    z-index: -1;
    border: 0.25em solid hsl(260 97% 50% / 0.5);
    border-radius: 100px;
    opacity: var(--active, 0);
    transition: opacity var(--transition);
}

.spark:before {
    content: "";
    position: absolute;
    width: 200%;
    aspect-ratio: 1;
    top: 0%;
    left: 50%;
    z-index: -1;
    translate: -50% -15%;
    rotate: 0;
    transform: rotate(-90deg);
    opacity: calc((var(--active)) + 0.4);
    background: conic-gradient(
        from 0deg,
        transparent 0 340deg,
        white 360deg
    );
    transition: opacity var(--transition);
    animation: rotate var(--spark) linear infinite both;
}

.spark:after {
    content: "";
    position: absolute;
    inset: var(--cut);
    border-radius: 100px;
}

.backdrop {
    position: absolute;
    inset: var(--cut);
    background: var(--bg);
    border-radius: 100px;
    transition: background var(--transition);
}

@keyframes rotate {
    to {
        transform: rotate(90deg);
    }
}

@supports(selector(:has(:is(+ *)))) {
    body:has(button:is(:hover, :focus-visible)) {
        --active: 1;
        --play-state: running;
    }

    .bodydrop {
        display: none;
    }
}

.searchBtn:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
    --active: 1;
    --play-state: running;
}

button:is(:hover, :focus-visible) {
    --active: 1;
    --play-state: running;
}


.particle-pen {
    position: absolute;
    width: 200%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    -webkit-mask: radial-gradient(white, transparent 65%);
    z-index: -1;
    opacity: var(--active, 0);
    transition: opacity var(--transition);
}

.text {
    translate: 2% -6%;
    letter-spacing: 0.01ch;
    background: #fff;
    -webkit-background-clip: text;
    color: transparent;
    transition: background var(--transition);
}

button svg {
    inline-size: 1.25em;
    translate: -25% -5%;
}

.samplePrompt {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 83%;
    height: 60px;
    padding-top: 15px;
    padding-left: 60px;
    resize: none;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    border: 1px solid rgba(224, 60, 224, 0.533);
    background: #131212;
    border-radius: 15px;
    font-size: 24px;
    transition: 0.25s;
    z-index: 10;
}

.samplePrompt.generating {
    top: 74%;
    pointer-events: none;
    height: 60px;
    border: 1px solid rgba(238, 204, 11, 0.533);
}

.samplePrompt.generated {
    top: 83%;
    pointer-events: none;
    color: #f6a6fe;
    height: 60px;
    border: 1px solid rgba(145, 69, 252, 0.533);
}

.samplePrompt.generating .promptTextInput {
    font-size: 0.8em;
    height: 45px;
    pointer-events: none;
}

.samplePrompt .stopGeneration {
    display: block;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.samplePrompt .stopGeneration.hidden {
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.samplePrompt .stopGeneration {
    opacity: 1;
    pointer-events: all;
}

.samplePrompt .promptTextInput {
    position: absolute;
    height: 45px;
    width: 850px;
    top: 6%;
    left: 8%;
    font-size: 1em;
    border: none;
    outline: none;
    color: #d87bfd;
    background: transparent;
    box-sizing: border-box;
    max-height: 88px;
    resize: none;
    padding-top: 10px;
    background: transparent;
}

.samplePrompt .promptTextInput::-webkit-scrollbar {
    display: none;
}

.searchButton {
    position: absolute;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    transform: translateY(-50%);
    top: 50%;
    left: 88%;
    border: 1px solid #4e4e4e;
    background: #181818;
    font-family: 'Source Code Pro', monospace;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
}



.particle-pen {
	position: absolute;
	width: 200%;
	aspect-ratio: 1;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	-webkit-mask: radial-gradient(white, transparent 65%);
	z-index: -1;
	opacity: var(--active, 0);
	transition: opacity var(--transition);
}



.text {
	translate: 2% -6%;
	letter-spacing: 0.01ch;
	background: #fff;
	-webkit-background-clip: text;
	color: transparent;
	transition: background var(--transition);
}

button svg {
	inline-size: 1.25em;
	translate: -25% -5%;
	fill: #fff;
}
