
.offerings {
    position: absolute;
    top: 200%;
    height: 260%;
    width: 100%;
    left: 0%;
    background: transparent;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  
  .offeringDescMask {
    position: absolute;
    top: 180%;
    left: 50%;
    width: 180px;
    height: 45px;
    border-radius: 42px;
    transform: translateX(-50%);
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  }
  
  .offeringDesc {
    position: absolute;
    height: 37px; /* Adjusted to be slightly smaller than the mask */
    width: 172px; /* Adjusted to be slightly smaller than the mask */
    top: 4px; /* Center the desc vertically within the mask */
    left: 4px; /* Center the desc horizontally within the mask */
    border-radius: 38px; /* Adjusted to match the mask's border-radius */
    background-color: #080808;
    overflow: hidden;
    overflow: hidden;
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .offeringDesc p {
    margin: 0; 
    color: white; 
    font-family: 'Source Code Pro', monospace;
  }
  
  .offeringDescText {
    position: absolute;
    top: 190%;
    left: 50%;
    width: 100%;
    font-size: 4.2em; /* Adjust as needed for larger text */
    font-weight: bold;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transform: translateX(-50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0; /* Remove default margin from the <p> tag */
    text-align: center;
  }
  
  
  .offeringsTile1
  {
     position: absolute;
     top: 2%;
     height: 350px;
     width: 610px;
     background-color: #1D1C20;
     margin-left: 45px;
     margin-top: 25px;
     overflow: hidden;
     border-radius: 25px;
     border: 1px solid #413e47;
     box-shadow: 43px 0 100px rgb(21, 21, 22);
  }
  
  .offeringOneText
  {
      position: absolute;
      top: 2%;
      left: 46%;
      height: 350px;
      width: 650px;
      background-color: transparent;
      margin-left: 45px;
      margin-top: 25px;
      overflow: hidden;
      border-radius: 25px;
  }
  
  .offeringOneTextHeading
  {
      position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  }
  .offeringOneTextDescription
  {
      position: relative;
      font-size: 13px;
      font-family: 'Source Code Pro', monospace;
      width: inherit;
      padding-right: 15px;
      margin-top: 7px;
      padding-left: 25px;
      box-sizing: border-box;
      word-wrap: break-word;
      text-align: justify;
      flex-wrap: wrap;
      color: #A4A4A4;
  }
  .offeringsTile1 .headingText {
     position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  }
  
  
  .offeringsTile1 .descriptionText
  {
     position: relative;
     font-size: 13px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     padding-right: 15px;
     margin-top: 7px;
     padding-left: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
     color: #A4A4A4;
  }
  
  
  .offeringsTile1 #wandVisuMagicOne {
    width: 7vmin;
    aspect-ratio: 1 / 10;
    background: linear-gradient(
      to right, 
      rgb(26 24 28) 10%, 
      rgb(42 40 44) 45% 55%, 
      rgb(26 24 28) 90%
    );
    position: absolute;
    left: 300px; /*50 570*/
    top: 120px; /*100 120
    */
    translate: -50%;
    rotate: -3deg;
    z-index: 100;
    border-radius: 2vmin;
    box-shadow: 0vmin 1vmin 4vmin rgb(0 0 0 / 80%);
    overflow: hidden; 
  }
  
  .offeringsTile1 #wandVisuMagicOne > .capVisuMagicOne
    {
     height: 20%;
     width: 100%;
    background: linear-gradient(
   to right,
   rgb(212 221 236) 10%,
   rgb(255 255 255) 45% 55%,
   rgb(212 221 236) 90%
  );
  
   }
  
   #tiles {
    display: flex;
  }
  
  .tile {
    display: grid;
    place-items: center;
    width: 38vmin;
    transform: scale(0.8);
    aspect-ratio: 1;
    background-color: rgb(31, 41, 55);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/imageTmp.png?alt=media&token=d29473bf-d358-4978-8716-88dcc32243c6);
    background-size: cover;
    border-radius: 6vmin;
    box-shadow: 0vmin 3vmin 6vmin rgba(0, 0, 0, 0.678),
      inset 0vmin 0.5vmin 1vmin rgba(255, 255, 255, 0.493);
    position: relative;
    overflow: hidden;
  }
  
  .tile:nth-child(1) {
    rotate: 3deg;
    z-index: 3;
  }
  .tile:nth-child(1) > img
  {
    filter: blur(0px);
    opacity: 1;
  }
  .tile:nth-child(2) {
    rotate: -2deg;
    z-index: 2;
  
  }
  .tile:nth-child(2) > img
  {
    filter: blur(5px);
    opacity: 0.5;
  }
  
  .tile:nth-child(3) {
    rotate: 5deg;
    z-index: 1;
  }
  
  .tile:nth-child(3) > img
  {
    filter: blur(9px);
    opacity: 0;
  }
  
  .tile:is(:nth-child(2), :nth-child(3)) {
    margin-left: -10vmin;
  }
  
  .tile > i {
    font-size: 15vmin;
    color: rgb(255 255 255 / 10%);
  }
  
  .tile > img {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    object-fit: cover;
    opacity: var(--opacity);
    filter: blur(calc(var(--blur) * 10px));
  }
  
  
  .offeringTile2Layout
  
  {
     position: absolute;
     top: 22%;
     left: 45%;
     height: 350px;
     width: 650px;
     background-color: #1D1C20;
     margin-left: 45px;
     margin-top: 25px;
     border-radius: 25px;
     border: 1px solid #413e47;
     overflow: hidden;
   cursor: pointer;
  }
  
  .offeringTile2Layout .headingText {
     position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  }
  
  
  .offeringTile2Layout .descriptionText
  {
     position: relative;
     font-size: 13px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     padding-right: 15px;
     margin-top: 7px;
     padding-left: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
     color: #A4A4A4;
  }
  
  .offeringTwoTextHeading
  {
      position: absolute;
      top: 22%;
     left:2%;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  
  }
  .offeringTwoTextDescription
  {
    position: absolute;
    top: 25%;
    left: 2%;
    font-size: 13px;
    font-family: 'Source Code Pro', monospace;
    width: 40%;
    padding-right: 15px;
    margin-top: 7px;
    padding-left: 25px;
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: justify;
    flex-wrap: wrap;
    color: #A4A4A4;
  }
  
  .offeringTile2Layout .tileforPSBacklit
  {
   position: absolute;
   height: 290px;
   filter: blur(45px);
   width: 100%;
   background: #5411da;
   top: 25%;
   left: 5%;
   border-radius: 30px;
   overflow: hidden;
   transition: 0.5s;
   opacity: 0;
  }
  .offeringTile2Layout .tileforPSBacklitParticles
  {
   position: absolute;
   height: 290px;
   width: 100%;
   background: transparent;
   top: 25%;
   left: 5%;
   border-radius: 30px;
   overflow: hidden;
   transition: 0.5s;
   opacity: 0;
  }
  .offeringTile2Layout .tileforPS
  {
   position: absolute;
   height: 250px;
   width: 100%;
   background: #39383B;
   top: 35%;
   left: 10%;
   border-radius: 30px;
   box-shadow: -20px 0 40px #080808,  
   inset -5px 3px 7px #6d6c6e;
   overflow: hidden;
  }
  .offeringTile2Layout .tileforPS::before
  {
   content: '';
   position: absolute;
   height: 100%;
   width: 50%;
   top: 0;
   left: 55%;
   background: #252428;
   box-shadow:  inset -5px 3px 7px #6d6c6e;
  
  
  }
  
  .offeringTile2Layout .tileforPS::after
  {
   content: '';
   position: absolute;
   height: 100%;
   width: 5px;
   top: 0;
   left: 55%;
   background: #0c0b0c;
   z-index: 10;
   box-shadow:  inset 0px 2px 2px #6d6c6e;
  }
   
  .offeringTile2Layout .tileforPS .layer1,
  .offeringTile2Layout .tileforPS .layer2,
  .offeringTile2Layout .tileforPS .layer3,
  .offeringTile2Layout .tileforPS .layer4
  {
     position: absolute;
     padding-left: 10px;
     height: 40px;
     left: 5%;
     top: 8%;
     width: 50%;
     transition: 0.25s;
     background-color: transparent;
     color: #c9c9c9;
     font-family: 'Source Code Pro', monospace;
     font-size: 24px;
     font-weight: 700;
     justify-content: center;
     vertical-align: middle;
     cursor: pointer;
     
  }
  .offeringTile2Layout .tileforPS .layer1:hover,
  .offeringTile2Layout .tileforPS .layer2:hover,
  .offeringTile2Layout .tileforPS .layer3:hover,
  .offeringTile2Layout .tileforPS .layer4:hover
  {
   background: #5a5a5a;
  }
  
  .offeringTile2Layout .tileforPS .layer2
  {
   left: 12%;
   top: 28%;
   font-size: 20px;
   width: 260px;
  }
  .offeringTile2Layout .tileforPS .layer3
  {
   left: 12%;
   top: 48%;
   font-size: 20px;
   width: 260px;
  }
  
  .offeringTile2Layout .tileforPS .layer4
  {
   left: 5%;
   top: 70%;
   font-size: 24px;
  }
  
  
  .offeringTile2Layout .tileforPS .layer1 ion-icon,
  .offeringTile2Layout .tileforPS .layer2 ion-icon,
  .offeringTile2Layout .tileforPS .layer3 ion-icon,
  .offeringTile2Layout .tileforPS .layer4 ion-icon
  {
   position: relative;
   top: 45%;
   transform: translateY(-50%);
   font-size: 25px;
   margin-right: 26px;
  
  }
  .offeringTile2Layout .layerTranslate
  {
   position: absolute;
   height: 190px;
   width: 190px;
   top: 10%;
   left: 55%;
   transform: scale(1.2);
   background: url(/CSS/IMAGES/collecTmp.png);
   background-size: cover;
  }
  .offeringTile2Layout #wandVisuMagicThree {
   width: 7vmin;
   aspect-ratio: 1 / 10;
   background: linear-gradient(
     to right, 
     rgb(26 24 28) 10%, 
     rgb(42 40 44) 45% 55%, 
     rgb(26 24 28) 90%
   );
   position: absolute;
   left: 330px; /*50 570*/
   top: 80px; /*100 120
   */
   transition: 0.25s;
   rotate: 3deg;
   z-index: 100;
   border-radius: 2vmin;
   box-shadow: 0vmin 1vmin 4vmin rgb(0 0 0 / 80%);
   overflow: hidden; 
  }
  .offeringTile2Layout:hover #wandVisuMagicThree
  {
   top: 20px;
  }
  .offeringTile2Layout #wandVisuMagicThree > .capVisuMagicThree
   {
    height: 20%;
    width: 100%;
   background: linear-gradient(
  to right,
  rgb(212 221 236) 10%,
  rgb(255 255 255) 45% 55%,
  rgb(212 221 236) 90%
  );
  
  }
  .offeringTile2Layout:focus #wandVisuMagicThree
  {
   animation: shake 1s linear forwards;
  }
  @keyframes shake {
   0%
   {
     rotate: 0deg;
   }
   25%
   {
     rotate: 6deg;
   }
   50%
   {
     rotate:3deg;
   }
   100%
   {
     rotate:3deg;
   }
  }
  
  
  
  
  
  
  
  
  
  .offeringTile3Layout
  
  {
     position: absolute;
     top: 40%;
     left: 0%;
     height: 350px;
     width: 650px;
     background-color: #1D1C20;
     margin-left: 45px;
     margin-top: 25px;
     border-radius: 25px;
     border: 1px solid #413e47;
     overflow: hidden;
   cursor: pointer;
  }
  
  .offeringTile3Layout .headingText {
     position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  }
  
  
  .offeringTile3Layout .descriptionText
  {
     position: relative;
     font-size: 13px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     padding-right: 15px;
     margin-top: 7px;
     padding-left: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
     color: #A4A4A4;
  }
  
  
  .aspectRatioControls {
    position: absolute;
    left: 0%;
    top: 35%;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Evenly distribute the tiles */
    align-items: center; /* Center the tiles vertically */
    width: 95%; /* Adjust width as needed */
    margin: 0 auto; /* Center the container horizontally */
    background-color: transparent; /* Background color of the container */
    padding: 20px; /* Optional: add some padding */
    border-radius: 10px; /* Optional: add some border radius */
  }
  
  .aspectRatioTile {
    position: relative;
    height: 80px; /* Adjust height as needed */
    width: 80px; /* Adjust width as needed */
    background: #181717;
    display: flex; /* Use flexbox to center text */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    margin: 0 10px; /* Add horizontal spacing between tiles */
    border-radius: 5px; /* Optional: add some border radius */
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
    z-index: 15;
    transform: scale(2);
    transition: 0.25s;
    opacity: 1;
  }
  
  .aspectRatioTile p {
    position: absolute; /* Position text absolutely within the tile */
    bottom: 10px; /* Position at the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    margin: 0; /* Reset margin */
    color: white; /* Text color */
  }
  
  .aspectRatioTile ion-icon
  {
    position: absolute; /* Position text absolutely within the tile */
    top: 10px; /* Position at the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    margin: 0; /* Reset margin */
    color: white; /* Text color */
    font-size: 2.1em;
  }
  
  .offeringThreeTextHeading
  {
      position: absolute;
      top: 42%;
     left:48%;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  
  }
  .offeringThreeTextDescription
  {
    position: absolute;
    top: 45%;
    left: 48%;
    font-size: 13px;
    font-family: 'Source Code Pro', monospace;
    width: 40%;
    padding-right: 15px;
    margin-top: 7px;
    padding-left: 25px;
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: justify;
    flex-wrap: wrap;
    color: #A4A4A4;
  }
  
  .offeringTile4Layout 
  {
     position: absolute;
     height: 350px;
     box-sizing: border-box;
     padding-right: 25px;
     width: 250px;
     background-color: #1D1C20;
     margin-left: 45px;
     margin-top: 25px;
     border-radius: 25px;
     left: 0%;
     top: 60%;
     border: 1px solid #413e47;
     box-shadow: 43px 0 100px rgb(21, 21, 22);
     overflow: hidden;
  }
  
  .offeringTile4Layout .headingText {
     position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: 180px;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  }
  
  
  .offeringTile4Layout .descriptionText
  {
     position: relative;
     font-size: 13px;
     font-family: 'Source Code Pro', monospace;
     width: 250px;
     padding-right: 15px;
     margin-top: 7px;
     padding-left: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
     color: #A4A4A4;
     overflow: hidden;
  }
  
  .offeringTile4Layout .Tilestars
  {
    position: absolute;
    height: inherit;
    width: inherit;
    left: 10%;
    top: 40%;
    background-color: transparent;
  }
  .offeringTile4Layout .Tilestars .Tilestar1
  {
    position: absolute;
    height: 90px;
    width: 90px;
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/bigstar.png?alt=media&token=53c5945b-2b37-4c3e-972c-7bd1b0b9e4f1);
    transition: 0.5s;
    background-size: cover;
  }
  
  .offeringTile4Layout .Tilestars .Tilestar2
  {
    position: absolute;
    left: 18%;
    top: 10%;
    height: 170px;
    width: 170px;
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/bigstar.png?alt=media&token=53c5945b-2b37-4c3e-972c-7bd1b0b9e4f1);
    transition: 0.5s;
    background-size: cover;
  }
  
  
  
  
  .offeringTile5Layout 
  {
     position: absolute;
     height: 350px;
     box-sizing: border-box;
     padding-right: 25px;
     width: 250px;
     background-color: #1D1C20;
     margin-left: 45px;
     margin-top: 25px;
     border-radius: 25px;
     left: 18%;
     top: 60%;
     border: 1px solid #413e47;
     box-shadow: 43px 0 100px rgb(21, 21, 22);
     overflow: hidden;
  }
  
  .offeringTile5Layout .headingText {
     position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: 180px;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  }
  
  
  .offeringTile5Layout .descriptionText
  {
     position: relative;
     font-size: 13px;
     font-family: 'Source Code Pro', monospace;
     width: 250px;
     padding-right: 15px;
     margin-top: 7px;
     padding-left: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
     color: #A4A4A4;
     overflow: hidden;
  }
  
  
  .privateResultIcon
  {
    position: absolute;
    font-size: 8em;
    color: #04e07a;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  
  
  .offeringTile6Layout 
  {
     position: absolute;
     height: 350px;
     box-sizing: border-box;
     padding-right: 25px;
     width: 250px;
     background-color: #1D1C20;
     margin-left: 45px;
     margin-top: 25px;
     border-radius: 25px;
     left: 36%;
     top: 60%;
     border: 1px solid #413e47;
     box-shadow: 43px 0 100px rgb(21, 21, 22);
     overflow: hidden;
  }
  
  .offeringTile6Layout .headingText {
     position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: 180px;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  }
  
  
  .offeringTile6Layout .descriptionText
  {
     position: relative;
     font-size: 13px;
     font-family: 'Source Code Pro', monospace;
     width: 250px;
     padding-right: 15px;
     margin-top: 7px;
     padding-left: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
     color: #A4A4A4;
     overflow: hidden;
  }
  
  
  .instaLogo { 
    position: absolute;
    font-size: 8em;
    color: #f6dd22;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  
  
  
  .offeringTile7Layout 
  {
     position: absolute;
     height: 350px;
     box-sizing: border-box;
     padding-right: 25px;
     width: 250px;
     background-color: #1D1C20;
     margin-left: 45px;
     margin-top: 25px;
     border-radius: 25px;
     left: 54%;
     top: 60%;
     border: 1px solid #413e47;
     box-shadow: 43px 0 100px rgb(21, 21, 22);
     overflow: hidden;
  }
  
  .offeringTile7Layout .headingText {
     position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: 180px;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  }
  
  
  .offeringTile7Layout .descriptionText
  {
     position: relative;
     font-size: 13px;
     font-family: 'Source Code Pro', monospace;
     width: 250px;
     padding-right: 15px;
     margin-top: 7px;
     padding-left: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
     color: #A4A4A4;
     overflow: hidden;
  }
  
  
  .upscale { 
    position: absolute;
    font-size: 8em;
    color: #67b3fb;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  
  .offeringTile8Layout 
  {
     position: absolute;
     height: 350px;
     box-sizing: border-box;
     padding-right: 25px;
     width: 250px;
     background-color: #1D1C20;
     margin-left: 45px;
     margin-top: 25px;
     border-radius: 25px;
     left: 72%;
     top: 60%;
     border: 1px solid #413e47;
     box-shadow: 43px 0 100px rgb(21, 21, 22);
     overflow: hidden;
  }
  
  .offeringTile8Layout .headingText {
     position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: 180px;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
  }
  
  
  .offeringTile8Layout .descriptionText
  {
     position: relative;
     font-size: 13px;
     font-family: 'Source Code Pro', monospace;
     width: 250px;
     padding-right: 15px;
     margin-top: 7px;
     padding-left: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
     color: #A4A4A4;
     overflow: hidden;
  }
  
  
  .network { 
    position: absolute;
    font-size: 8em;
    color: #67b3fb;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  
  
  .offeringTile9Layout
   {
      position: absolute;
      top: 80%;
      left: 5%;
      height: 350px;
      width: 580px;
      background-color: #1D1C20;
      margin-left: 45px;
      margin-top: 25px;
      border-radius: 25px;
      border: 1px solid #413e47;
      box-shadow: 43px 0 100px rgb(21, 21, 22);
      overflow: hidden;
      opacity: 0.45;
   }
   .offeringTile9Layout .headingText {
      position: relative;
      font-size: 20px;
      font-family: 'Source Code Pro', monospace;
      width: inherit;
      margin-top: 25px ;
      margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
      word-wrap: break-word;
      flex-wrap: wrap;
      color: #fff;
  }
  
   
   .offeringTile9Layout .descriptionText
   {
      position: relative;
      font-size: 13px;
      font-family: 'Source Code Pro', monospace;
      width: inherit;
      padding-right: 15px;
      margin-top: 7px;
      padding-left: 25px;
      box-sizing: border-box;
      word-wrap: break-word;
      text-align: left;
      flex-wrap: wrap;
      color: #A4A4A4;
   }
  
  
   .offeringTile9Layout .exportTile
   {
     position: absolute;
     top: 50%;
     left: -12%;
     height: 250px;
     width: 250px;
     background: #29292B;
  
     background-size: cover;
     border-radius: 25px;
     overflow: hidden;
   }
   .offeringTile9Layout .exportTile span
   {
    position: absolute;
    top: -10%;
     left: -15%;
     height: 85%;
     width: 100%;
     background-image: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/exportTile.png?alt=media&token=1713a415-361a-4d8e-96d1-a57a973203f8);
     background-size: cover;
  
   }
  
  
   .offeringTile9Layout .exportTileSteps
   {
     position: absolute;
     top: 25%;
     left: 78%;
     height: 350px;
     width: 250px;
     background: #29292B;
     overflow: hidden;
     border-radius: 25px;
   }
  
   .offeringTile9Layout .exportTileSteps span
   {
    position: absolute;
      top: 2%;
     left: 2%;
     height: 320px;
     width: 250px;
     background-image: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/instructionTile.png?alt=media&token=ccb34ef7-66b4-45bc-ab76-0d2b1b03e5b4);
  
     background-size: cover;
  
   }
  
   .offeringTile9Layout .imageTilePremiere
   {
     position: absolute;
     top: 45%;
     left: 45%;
     height: 190px;
     width: 180px;
     background: #29292B;
     border-radius: 9px;
     overflow: hidden;
   }
   
   .offeringTile9Layout .imageTilePremiereImage
   {
     position: relative;
     top: 0%;
     left: 0;
     height: 100px;
     border-radius: 9px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
     width: 180px;
     transition: 0.5s;
     background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/cut.png?alt=media&token=e635effd-b95f-47bb-80fb-96726de1ebf1);
     background-size: cover;
     
  
   }
   .offeringTile9Layout .moveTool
   {
    position: absolute;
    top: 55%;
    left: 34%;
    height: 40px;
    width: 40px;
    background-color: #0093E9;
    border-radius: 8px;
    box-shadow: 0 5px 2px #080808,
    inset 0 -5px 10px #002438;
    cursor: pointer;
  
   }
   .offeringTile9Layout .moveTool::before
   {
    content: '';
    position: absolute;
    top: 20%;
    left: 20%;
    height: 70%;
    width: 70%;
    background-color: #000;
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/moveTool.png?alt=media&token=5a2fc53c-5006-47be-8d0a-2db3919e5511);
    background-size: cover;
    filter: invert(1);
   }
  
   .offeringTile9Layout .textTool
   {
    position: absolute;
    top: 75%;
    left: 34%;
    height: 40px;
    width: 40px;
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/textTool.png?alt=media&token=697384f6-0a4d-4b18-98db-6070b051c37a);
    background-size: cover;
    filter: invert(1);
    cursor: pointer;
   }
  
  
   .offeringTile9Layout .Colorgrade
   {
     position: absolute;
     top: 35%;
     left: -12%;
     background-color: #29292B;
     width: 250px;
     height: 40px;
     border: 1px solid #4e4e4e;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     box-shadow:  -5px 0 40px #080808;
     cursor: pointer;
     user-select: none;
  
   }
   .offeringTile9Layout .ColorgradeText
   {
    position: absolute;
    color: #fff;
    left: 65%;
    top: 13%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Source Code Pro', monospace;
   }
  
   .offeringTile9Layout .colorGradeOrb
   {
    position: absolute;
    color: #fff;
    left: 30%;
    top: 25%;
    height: 20px;
    width: 20px;
    background: #000;
    border-radius: 50%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    box-shadow: 2px 0 5px #000 ;
    font-family: 'Source Code Pro', monospace;
   }
   .offeringTile9Layout #ColorgradeShuffle
   {
    position: absolute;
    left: 89%;
    font-size: 20px;
    color: #919191;
    top: 27%;
   }
  
  
   .offeringTile9Layout .textPronounce
   {
     position: absolute;
     color: #fff;
     top: 51%;
     left: 8%;
     font-family: 'Source Code Pro', monospace;
     font-weight: 700;
   }
   .offeringTile9Layout .textPronounce b
   {
     font-style: normal;
     opacity: 45%;
   }
  
   .offeringTile9Layout .textMeaning
   {
     position: absolute;
     color: #ffffffcb;
     top: 66%;
     left: 8%;
     opacity: 75%;
     font-size: 12px;
     font-family: 'Source Code Pro', monospace;
     font-weight: 300;
   }
  
  
   .offeringTile10Layout
  
  {
     position: absolute;
     height: 350px;
     width: 610px;
     top: 80%;
     left: 45%;
     background-color: #1D1C20;
     margin-left: 45px;
     margin-top: 25px;
     border-radius: 25px;
     border: 1px solid #413e47;
    overflow: hidden;  
    opacity: 0.45;
  
  }
  
  .offeringTile10Layout .headingText {
     position: relative;
     font-size: 20px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     margin-top: 25px ;
     margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
     word-wrap: break-word;
     flex-wrap: wrap;
     color: #fff;
     z-index: 5;
  }
  
  
  .offeringTile10Layout .descriptionText
  {
     position: relative;
     font-size: 13px;
     font-family: 'Source Code Pro', monospace;
     width: inherit;
     padding-right: 15px;
     margin-top: 7px;
     padding-left: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
     color: #A4A4A4;
     z-index: 5;
  }
  
  
  @keyframes rotate {
      from {
        rotate: 0deg;
      }
      
      50% {
        scale: 1 1.5;
      }
      
      to {
        rotate: 360deg;
      }
    }
   #blob {
      background-color: white;
      height: 34vmax;
      aspect-ratio: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      transform: scale(0.8);
      border-radius: 50%;
      background-color: #FEE140;
      background-color: #A9C9FF;
      background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
      
  
      animation: rotate 20s infinite;
      opacity: 0.5;
    }
   #blur {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 2;
      backdrop-filter: blur(45px);
    }
    .offeringTile10Layout .profileCardContainer
    {
      position: absolute;
      transition: left 250ms ease-in;
      top: 2%;
     left: 0;
    }
    .offeringTile10Layout #mintCard1
    {
      position: absolute;
      height: 230px;
      width: 230px;
      background: #121213;
      box-shadow: -10px 5px 20px #0a0909;
      border: 2px solid #413e47;
      margin-left: 25px;
      border-radius: 25px;
      top: 100px;
      overflow: hidden;
      z-index: 5;
      transition : 0.25s;
      user-select: none;
      cursor: pointer;
    }
    .offeringTile10Layout #mintCard2
    {
      position: absolute;
      height: 230px;
      width: 230px;
      transform: translateX(250px);
      background: #121213;
      box-shadow: -10px 5px 20px #0a0909;
      border: 2px solid #413e47;
      margin-left: 25px;
      border-radius: 25px;
      top: 100px;
      overflow: hidden;
      z-index: 5;
      transition : 0.25s;
      user-select: none;
      cursor: pointer;
    }
    .offeringTile10Layout #mintCard3
    {
      position: absolute;
      height: 230px;
      width: 230px;
      background: #121213;
      transform: translateX(500px);
      box-shadow: -10px 5px 20px #0a0909;
      border: 2px solid #413e47;
      margin-left: 25px;
      border-radius: 25px;
      top: 100px;
      z-index: 5; 
      overflow: hidden;
      transition : 0.25s;
      user-select: none;
      cursor: pointer;
    }
  
    #mintCard1 .profileImage
    {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      border-radius: 0;
      background-color: #000;
      opacity: .25;
      background-size: cover;
      background-image: url(https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/officialDisplayImages%2FCoverPageSlidingImages%2F31_31_11zon.jpg?alt=media&token=a581e636-2492-4adb-b8c5-94fbf3f0b986);
    }
    #mintCard2 .profileImage
    {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      border-radius: 0;
      background-color: #000;
      opacity: .25;
      background-size: cover;
      background-image: url(https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/officialDisplayImages%2FCoverPageSlidingImages%2F4_4_11zon.jpg?alt=media&token=f4bd879c-2567-434a-90f9-0502b90789c0);
    }
    #mintCard3 .profileImage
    {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      border-radius: 0;
      background-color: #000;
      opacity: .25;
      background-size: cover;
      background-image: url(https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/officialDisplayImages%2FCoverPageSlidingImages%2F32_32_11zon.png?alt=media&token=488c9939-e61a-46f1-98a3-d66a0a7b9ea1);
    }
    .offeringTile10Layout .profileCards .profileTag
    {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      height: 25px;
      width: 100px;
      border-radius: 15px;
      background: #2c90fc;
    }
    #mintCard1 .profileTag
    {
      background: #F34822;
    }
    #mintCard1:hover
    {
      border: 2px solid #F34822;
    }
    #mintCard2 .profileTag
    {
      background: #8a21f2;
    }
    #mintCard2:hover
    {
      border: 2px solid #8a21f2;
    }
    #mintCard3 .profileTag
    {
      background: #034b66;
    }
    #mintCard3:hover
    {
      border: 2px solid #034b66;
    }
  
    .offeringTile10Layout .profileCards .profileTag p
    {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translateX(-50%) translateY(-68%);
      font-family: 'Source Code Pro', monospace;
      font-weight: 700;
      color: #fff;
    }
    
  .offeringTile10Layout .profileCards .profileHeading
  {
    position: relative;
    font-size: 25px;
    top: 50px;
    left: 15px;
    font-family: 'Source Code Pro', monospace;
    width: inherit;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 25px ;
    margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
    word-wrap: break-word;
    flex-wrap: wrap;
    color: #fff;
    z-index: 5;
  }
  
  .offeringTile10Layout .profileCards .profileHeadingDesc
  {
    position: relative;
    font-size: 12px;
    flex-wrap: wrap;
    top: 50px;
    left: 15px;
    font-family: 'Source Code Pro', monospace;
    width: inherit;
    letter-spacing: 2px;
    margin-top: 25px ;
    margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
    padding-right: 25px;
     box-sizing: border-box;
     word-wrap: break-word;
     text-align: left;
     flex-wrap: wrap;
    color: #9b94a8;
    z-index: 5;
  }