.socialMediaPage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    top: 590%;
    left: 0;
    overflow: hidden;
    user-select: none;
}

.socialMediaContainer {
    height: 50%;
    width: 70%;
    background: #0f0f0f;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.particleMask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    pointer-events: none;
}

.socialMediaContainer .vgGirl {
    height: 100%;
    width: 100%; /* Adjust width to your preference */
    background-size: cover;
    background-image: url(IMAGES/vrglassGirl.png);
    opacity: 0.25;
    object-fit: cover;
    pointer-events: none;
}

.socialMediaContainer .socialMediaDesc {
    position: absolute;
    font-size: 2.2em; /* Adjust as needed for larger text */
    left: 50%;
    top: 25%;
    font-weight: bold;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transform: translateX(-50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0; /* Remove default margin from the <p> tag */
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

.socialMediaContainer .socialMediaDescText {
    position: absolute;
    font-size: 1em; /* Adjust as needed for larger text */
    left: 50%;
    top: 40%;
    width: 30%;
    font-weight: bold;
    background-image: linear-gradient(135deg, 
        #e0e0e0 0%, 
        #c9c9c9 25%, 
        #b0b0b0 50%, 
        #c9c9c9 75%, 
        #e0e0e0 100%);
    transform: translateX(-50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0; /* Remove default margin from the <p> tag */
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

.followWhatsapp {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%);
    font-family: inherit;
    font-size: 20px;
    background: #A073FF;
    color: white;
    fill: rgb(155, 153, 153);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    font-family: 'Source Code Pro', monospace;
    transition: 0.5s;
}

.followWhatsapp span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.followWhatsapp svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.followWhatsapp:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.socialMediaContainer .bgSpace {
    position: fixed;
    left: 58%;
    height: 450px;
    width: 450px;
    background-size: cover;
    object-fit: cover;
    background-image: url(IMAGES/spaceBg.jpg);
    display: none;
}
