@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  user-select: none;
}

body {
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 730px;
  width: 1519px;
  transition: 0.5s;
  opacity: 1;
  overflow: hidden;
}

.sitecontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.sitecontent::-webkit-scrollbar {
  display: none;
}


.mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200%;
  width: 100%;
  z-index: 1;
  /* box-shadow: 0 0 40px #D62929; */
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.25s;
  transform-origin: center;
  opacity: 1;
  /*change to zero*/
  transform: translateX(-50%) translateY(-50%);
}

.blob1Background
{
    position: absolute;
    height: 450px;
    top: -55px;
    left: -45px;
    width: 450px;
    background: #235881;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
    z-index: -1;
}
.blob2Background
{
    position: absolute;
    height: 450px;
    top: 60%;
    left: 70%;
    width: 450px;
    background: #3c2381;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
    z-index: -1;
}


@keyframes slowRotate {
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.mainContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;

}

.mainContainer::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
  display: none;
}

.mainContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #D62929;
}

.ParticleContainer {
  background: #111;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}


.mainName {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 250px;
  background-color: transparent;
}

.mainName .mainName_name {
  position: relative;
  left: 2%;
  font-family: "Rubik", sans-serif;
  font-size: 13em;
  font-weight: 700;
  color: #fff;
}

.mainName .mainName_ending {
  position: relative;
  left: 5%;
  font-family: "Rubik", sans-serif;
  font-size: 13em;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(135deg, #e6e6e6 0%, #c9c9c9 20%, #d5d5d5 30%, #b3b3b3 50%, #d5d5d5 70%, #c9c9c9 80%, #e6e6e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.1),
    2px 2px 4px rgba(0, 0, 0, 0.1),
    3px 3px 6px rgba(0, 0, 0, 0.1),
    4px 4px 8px rgba(0, 0, 0, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.1);

}


.desc {
  position: absolute;
  top: 55%;
  left: 14%;
  width: 70%;
  background: transparent;
  display: flex;
}

.desc span {
  position: relative;
  margin-right: 100px;
  left: 21%;
  transform: translateX(-50%);
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  background: linear-gradient(135deg, #e6e6e6 0%, #c9c9c9 20%, #d5d5d5 30%, #b3b3b3 50%, #d5d5d5 70%, #c9c9c9 80%, #e6e6e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.1),
    2px 2px 4px rgba(0, 0, 0, 0.1),
    3px 3px 6px rgba(0, 0, 0, 0.1),
    4px 4px 8px rgba(0, 0, 0, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.1);

}

.samplePrompt {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 65%;
  height: 60px;
  padding-top: 0px;
  padding-left: 60px;
  resize: none;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  overflow: hidden;
  outline: none;
  border: 1px solid rgba(224, 60, 224, 0.533);
  background: #131212;
  border-radius: 85px;
  font-size: 24px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton {
  position: absolute;
  width: 220px;
  height: 45px;
  border-radius: 25px;
  transform: translateY(-50%);
  top: 50%;
  left: 79%;
  border: 1px solid #4e4e4e;
  background: #272727;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  cursor: pointer;
  /* animation: SearchButtonGrow 5s ease-in-out forwards; */
  z-index: 100;
}

.searchButtonText {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  text-shadow: 0 0 5px #fff;
  letter-spacing: 0px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;

}

#iconSearchText {
  position: absolute;
  color: #fff;
  font-size: 30px;
  left: 3%;
  top: 25%;
}

.searchText {
  position: absolute;
  left: 8%;
  color: rgb(126, 126, 126);
  letter-spacing: 0px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  white-space: nowrap;
  text-align: left;
}


.elixpoOfficialLogoMask {
  position: absolute;
  top: 80%;
  left: 50%;
  background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  height: 155px;
  border-radius: 25px;
  transform-origin: center;
  width: 155px;
  transition: 0.25s;
  transform: translateX(-50%);
  cursor: pointer;
  opacity: 1;
  transition: 0.25s;
}

.elixpoOfficialLogoMask.hidden {
  opacity: 0;
  transition: 0.25s;
}


.elixpoOfficialLogoBacklit {
  position: absolute;
  top: 80%;
  background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  height: 165px;
  border-radius: 25px;
  transform-origin: center;
  width: 165px;
  z-index: -1;
  filter: blur(10px) brightness(45%);
  opacity: 1;
  transition: 0.25s;
}

.elixpoOfficialLogoBacklit.hidden {
  opacity: 0;
  transition: 0.25s;
}

.elixpoOfficialLogo {
  position: relative;
  top: 2.5px;
  left: 2.5px;
  background: #110f11;
  background-size: cover;
  height: 150px;
  border-radius: 25px;
  width: 150px;
  overflow: hidden;
  z-index: 110;
}

.elixpoOfficialLogoMask:hover .elixpoOfficialLogoBacklit {
  transform: translateX(-50%) scale(1.1);
}

.elixpoOfficialLogoImage {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  object-fit: cover;
  background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/innoVistaEye.png?alt=media&token=7437b492-c8e3-4ade-81f6-39c9135a733a);
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}