.pricingDescMask {
    position: absolute;
    top: 475%;
    left: 50%;
    width: 180px;
    height: 45px;
    border-radius: 42px;
    transform: translateX(-50%);
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  }
  
  .pricingDesc {
    position: absolute;
    height: 37px; /* Adjusted to be slightly smaller than the mask */
    width: 172px; /* Adjusted to be slightly smaller than the mask */
    top: 4px; /* Center the desc vertically within the mask */
    left: 4px; /* Center the desc horizontally within the mask */
    border-radius: 38px; /* Adjusted to match the mask's border-radius */
    background-color: #080808;
    overflow: hidden;
    overflow: hidden;
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .pricingDesc p {
    margin: 0; 
    color: white; 
    font-family: 'Source Code Pro', monospace;
  }
  
  .pricingDescText {
    position: absolute;
    top: 485%;
    left: 50%;
    width: 100%;
    font-size: 4.2em; /* Adjust as needed for larger text */
    font-weight: bold;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transform: translateX(-50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0; /* Remove default margin from the <p> tag */
    text-align: center;
  }
  


.pricingZone{
    position: absolute;
    top: 490%;
    left: 0;
    background:transparent;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    opacity: 0.25;
    pointer-events: none;
}

.plan1
{
    position: relative;
    height: 78%;
    width: 23%;
    left: 10%;
    top: 15%;
    background-color: #11111281;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 2px solid #333332;
}
.plan1 .plan1Heading
{
    position: absolute;
    top: -5%;
    left: 5%;
    font-size: 1.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}
.plan1 .plan1Description
{
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 1.5em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 0.9em;
}
.plan1 .plan1Price
{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 4.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.plan1 .plan1OriginalRate
{
    position: absolute;
    text-decoration: line-through;
    top: 18%;
    left: 30%;
    font-size: 2em;
    box-sizing: border-box;
    color: rgb(213, 147, 246);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.plan1 .plan1Rate
{
    position: absolute;
    top: 28%;
    left: 30%;
    font-size: 1.2em;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.plan1 .billingPeriod {
    position: absolute;
    top: 38%;
    left: 5%;
    height: 25px;
    border-radius: 5px;
    width: 85px;
    background: #5c4c88;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.plan1 .billingPeriod p {
    color: #dba7f5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    margin: 0; /* Remove default margin */
    font-family: 'Source Code Pro', monospace;
}
.plan1 .billingDiscount
{
    position: absolute;
    top: 38%;
    left: 30%;
    height: 25px;
    border-radius: 5px;
    width: 85px;
    background: #5c4c88;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.plan1 .billingDiscount ion-icon
{
    color: #dba7f5;
    font-size: 1em;
}
.plan1 .billingDiscount p
{
    color: #dba7f5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    margin: 0; /* Remove default margin */
    font-family: 'Source Code Pro', monospace;
}

.plan1 .subscribeButton
{
    position: absolute;
    top: 46%;
    left: 5%;
    height: 50px;
    width: 90%;
    background: #8850FF;
    opacity: .45;
    border-radius: 15px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: #fff;
    font-size: 1.5em;
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
    outline: none;
    border: none;
}

.plan1 hr 
{
    position: absolute;
    top: 55%;
    left: 7.5%;
    width: 85%;
    border: 1px solid #5c4c88;
}
.plan1 .planDesc
{
    position: absolute;
    top: 57%;
    left: 8%;
    font-size: 1em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    display: flex;
}

.plan2
{
    position: relative;
    height: 78%;
    width: 23%;
    left: 13%;
    top: 15%;
    background-color: #11111281;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 3px solid #5c4c88;
    transform: scale(1.1);
}
.plan2 .plan2Heading
{
    position: absolute;
    top: -5%;
    left: 5%;
    font-size: 1.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}
.plan2 .plan2Description
{
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 0.7em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}
.plan2 .plan2Price
{
    position: absolute;
    top: 7%;
    left: 5%;
    font-size: 4.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.plan2 .plan2OriginalRate
{
    position: absolute;
    text-decoration: line-through;
    top: 18%;
    left: 42%;
    font-size: 1.3em;
    box-sizing: border-box;
    color: rgb(213, 147, 246);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.plan2 .plan2Rate
{
    position: absolute;
    top: 24%;
    left: 40%;
    font-size: 1.2em;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.plan2 .billingPeriod {
    position: absolute;
    top: 38%;
    left: 5%;
    height: 25px;
    border-radius: 5px;
    width: 90px;
    background: #5c4c88;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.plan2 .billingPeriod p {
    color: #dba7f5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    margin: 0; /* Remove default margin */
    font-family: 'Source Code Pro', monospace;
}
.plan2 .billingDiscount
{
    position: absolute;
    top: 38%;
    left: 32%;
    height: 25px;
    border-radius: 5px;
    width: 85px;
    background: #5c4c88;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.plan2 .billingDiscount ion-icon
{
    color: #dba7f5;
    font-size: 1em;
}
.plan2 .billingDiscount p
{
    color: #dba7f5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    margin: 0; /* Remove default margin */
    font-family: 'Source Code Pro', monospace;
}

.plan2 .subscribeButton
{
    position: absolute;
    top: 46%;
    left: 5%;
    height: 50px;
    width: 90%;
    background: #8850FF;
    opacity: 1;
    border-radius: 15px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: #fff;
    font-size: 1.5em;
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
    border: none;
    outline: none;
}

.plan2 hr 
{
    position: absolute;
    top: 55%;
    left: 7.5%;
    width: 85%;
    border: 1px solid #5c4c88;
}
.plan2 .planDesc
{
    position: absolute;
    top: 57%;
    left: 8%;
    font-size: 1em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    display: flex;
}



.plan3
{
    position: relative;
    height: 78%;
    width: 23%;
    left: 16%;
    top: 15%;
    background-color: #11111281;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 2px solid #434344;
    transform: scale(1);
}
.plan3 .plan3Heading
{
    position: absolute;
    top: -5%;
    left: 5%;
    font-size: 1.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}
.plan3 .plan3Description
{
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 1.5em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 0.9em;
}
.plan3 .plan3Price
{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 4.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.plan3 .plan3OriginalRate
{
    position: absolute;
    text-decoration: line-through;
    top: 18%;
    left: 30%;
    font-size: 2em;
    box-sizing: border-box;
    color: rgb(213, 147, 246);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.plan3 .plan3Rate
{
    position: absolute;
    top: 28%;
    left: 30%;
    font-size: 1.2em;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.plan3 .billingPeriod {
    position: absolute;
    top: 38%;
    left: 5%;
    height: 25px;
    border-radius: 5px;
    width: 85px;
    background: #5c4c88;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.plan3 .billingPeriod p {
    color: #dba7f5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    margin: 0; /* Remove default margin */
    font-family: 'Source Code Pro', monospace;
}
.plan3 .billingDiscount
{
    position: absolute;
    top: 38%;
    left: 30%;
    height: 25px;
    border-radius: 5px;
    width: 85px;
    background: #5c4c88;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.plan3 .billingDiscount ion-icon
{
    color: #dba7f5;
    font-size: 1em;
}
.plan3 .billingDiscount p
{
    color: #dba7f5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    margin: 0; /* Remove default margin */
    font-family: 'Source Code Pro', monospace;
}

.plan3 .subscribeButton
{
    position: absolute;
    top: 46%;
    left: 5%;
    height: 50px;
    width: 90%;
    background: #8850FF;
    opacity: 1;
    border-radius: 15px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: #fff;
    font-size: 1.5em;
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
    border: none;
    outline: none;
}

.plan3 hr 
{
    position: absolute;
    top: 55%;
    left: 7.5%;
    width: 85%;
    border: 1px solid #5c4c88;
}
.plan3 .planDesc
{
    position: absolute;
    top: 57%;
    left: 8%;
    font-size: 1em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    display: flex;
}


.planPoints {
    position: absolute;
    top: 65%;
    left: 5%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the container */
  }
.planItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Adjust spacing between items */
  }
  
  .planItem ion-icon {
    font-size: 24px; /* Adjust icon size as needed */
    margin-right: 10px; /* Adjust spacing between icon and text */
  }
  
  .planItem p {
    margin: 0;
    font-weight: 700;
    color: #fff;
  }