.sampleImage
{
    position: absolute;
    top: 98%;
    height: 60%;
    width: 100%;
    left: 0%;
    background: transparent;
    padding-top: 50px;
    padding-bottom: 20px;
}



.sampleImage_content_left {
    display: flex;
    will-change: transform;
    justify-content: space-between;
    animation: scroll-left 20s linear infinite;
    width: auto;
    transition: 0.5s;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
        background-position: (-0%,0%);
    }
    100% {
        transform: translateX(-100%);
        background-position: (-10%,10%);
    }
}

.sampleImage_content_left img {
    position: relative;
    left: -5%;
    width: 200px;
    height: 200px;
    margin: 20px 10px; /* 10px on left and right to create equal spacing */
    border-radius: 15px;
    object-fit: cover;
    animation: imgMove 2s linear infinite;

}

@keyframes imgMove {
    0% {
        background-position: (-0%,0%);
    }
    100% {
        background-position: (-12%,20%);
    }
}


.sampleImage_content_right {
    display: flex;
    will-change: transform;
    justify-content: space-between;
    animation: scroll-right 20s linear infinite;
}


@keyframes scroll-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.sampleImage_content_right img {
    position: relative;
    left: -105%;
    width: 200px;
    height: 200px;
    margin: 0 10px; /* 10px on left and right to create equal spacing */
    border-radius: 15px;
    object-fit: cover;

}

