@import url("https://fonts.googleapis.com/css2?family=Salsa&family=Source+Code+Pro&display=swap");
html 
{
    overflow: hidden;
}
.preLoader {
    user-select: none;
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;    
    left: 0;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 1s;
  }

  .preLoader.hidden 
  {
    transform: translateY(-100%);
    height: 0%;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
  }
  .card-groups
  {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
  }
  .card-groups,
.card-group,
.card {
  aspect-ratio: 5 / 7;
}

.card-groups,
.card-group,
.big-card {  
  width: 30vmin;
}

.card-group {
  position: absolute;
  transition: transform 400ms ease;
}

.card-group[data-status="unknown"] {
  transform: scale(0);
  transition: none;
}

.card-group[data-status="active"] {
  transition-delay: 300ms;
}

.card-group[data-status="after"] {
  transform: translateX(50%) scale(0);
}

.card-group[data-status="before"] {
  transform: translateX(-50%) scale(0);
}

.card-group[data-status="becoming-active-from-after"] {
  transform: translateX(50%) scale(0);
  transition: none;
}

.card-group[data-status="becoming-active-from-before"] {
  transform: translateX(-50%) scale(0);
  transition: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
  background-position: center;
  background-size: cover;
}

.big-card {
  border-radius: 1vmin;
}

.little-card {
  width: 12vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.big-card:nth-child(2) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FNormal%2Fimage_1727896991797_0.png?alt=media&token=8d437917-cd6a-46a4-a3f8-9f02cfeb298d");
  transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(4) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FNormal%2Fimage_1729706510480_1.png?alt=media&token=3450db20-306d-44ad-8eaa-daeb26a5e8f1");
  transform: rotate(2deg);
}

.big-card:nth-child(6) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FNormal%2Fimage_1729716581345_0.png?alt=media&token=f1de89d2-7019-4974-bbcf-b65306bc6acd");
  transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(8) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FNormal%2Fimage_1732636622737_0.png?alt=media&token=4d0b33ad-6646-40b4-ae68-57442eb18217");
  transform: translate(10%, 3%) rotate(5deg);
}

.card-group[data-index="1"] > .big-card:nth-child(6) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FPixel%2Fimage_1731957017655_0.png?alt=media&token=1fdd611b-018d-44f7-b6f9-27d0796361e3");
}

.card-group[data-index="1"] > .big-card:nth-child(8) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FPixel%2Fimage_1730820842946_1.png?alt=media&token=9358919f-1e63-46c6-a462-4dde267b468c");
}

.card-group[data-index="2"] > .big-card:nth-child(4) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FLandscape%2Fimage_1733211337851_0.png?alt=media&token=eb169b58-32db-40c6-ac22-b000d454deb4");
}

.card-group[data-index="2"] > .big-card:nth-child(8) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FStructure%2Fimage_1727986567687_1.png?alt=media&token=d58ddb73-d039-4738-bcf9-f07dcbb0cea4");
}

.little-card:nth-child(1) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FCyberpunk%2Fimage_1732341460473_2.png?alt=media&token=856a4d6b-2430-44d5-ae91-e038af40bc1c");
}

.little-card:nth-child(3) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FWpap%2Fimage_1722076150042_0.png?alt=media&token=66efcbba-d9c2-4f19-b5cb-520c4d671fad");
}

.little-card:nth-child(5) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FNormal%2Fimage_1730618399136_1.png?alt=media&token=65709de6-8d7f-49fc-9f44-22daf9109872");
}

.little-card:nth-child(7) {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/elixpoai.appspot.com/o/generatedImages%2FFantasy%2Fimage_1724099633943_0.png?alt=media&token=f6b18b29-e435-48a6-91d3-bc4692ef6d88");
}

.card-group > .card {  
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.card-group > .big-card:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg);
}

.card-group > .big-card:nth-child(4) {
  transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group > .big-card:nth-child(6) {
  transform: translate(25%, 8%) rotate(8deg);
}

.card-group > .big-card:nth-child(8) {
  transform: translate(75%, 16%) rotate(24deg);
}

.card-group > .little-card:nth-child(1) {
  transform: translate(200%, -160%) rotate(-15deg);
}

.card-group > .little-card:nth-child(3) {
  transform: translate(160%, 170%) rotate(15deg);
}

.card-group > .little-card:nth-child(5) {
  transform: translate(-200%, -170%) rotate(15deg);
}

.card-group > .little-card:nth-child(7) {
  transform: translate(-280%, 140%) rotate(-15deg);
}


.feedStart {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 10%;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 10px 50px;
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #3c2381, #235881);
  border-radius: 50px;
  overflow: hidden;
  font-family: "salsa", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feedStart:before,
.feedStart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
}

.feedStart:before {
  left: -100%;
  clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
}

.feedStart:after {
  right: -100%;
  clip-path: polygon(30% 0, 90% 0, 70% 100%, 10% 100%);
}

.feedStart:hover {
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 10px 30px #3c2381;
}

.feedStart:hover:before {
  left: 100%;
  transition: all 0.7s ease;
}

.feedStart:hover:after {
  right: 100%;
  transition: all 0.7s ease;
}

.feedStart .liquid {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #235881, #3c2381);
  opacity: 0.5;
  transition: all 0.5s ease;
}

.feedStart .liquid:before,
.feedStart .liquid:after {
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  width: 200%;
  height: 200%;
  transform: translate(-50%, -75%);
}

.feedStart .liquid:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.1);
  animation: feedStart-rotate 10s linear infinite;
}

.feedStart .liquid:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.15);
  animation: feedStart-rotate 15s linear infinite;
}

.feedStart:hover .liquid {
  top: -100%;
}

.feedStart:active {
  transform: translate(-50%, -50%) scale(0.95);
}

@keyframes feedStart-rotate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.feedStart .bubbles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.feedStart:hover .bubbles {
  opacity: 1;
}

.feedStart .bubble {
  position: absolute;
  bottom: -20px;
  background: #235881;
  border-radius: 50%;
  animation: feedStart-rise 4s infinite ease-in;
}

.feedStart .bubble:nth-child(1) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-duration: 3s;
}
.feedStart .bubble:nth-child(2) {
  left: 20%;
  width: 25px;
  height: 25px;
  animation-duration: 4s;
  animation-delay: 0.5s;
}
.feedStart .bubble:nth-child(3) {
  left: 35%;
  width: 15px;
  height: 15px;
  animation-duration: 3.5s;
  animation-delay: 1s;
}
.feedStart .bubble:nth-child(4) {
  left: 50%;
  width: 30px;
  height: 30px;
  animation-duration: 4.5s;
  animation-delay: 1.5s;
}
.feedStart .bubble:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-duration: 3.5s;
  animation-delay: 0.5s;
}
.feedStart .bubble:nth-child(6) {
  left: 80%;
  width: 25px;
  height: 25px;
  animation-duration: 4s;
  animation-delay: 1s;
}

@keyframes feedStart-rise {
  0% {
    bottom: -20px;
    transform: translateX(0);
  }
  50% {
    transform: translate(10px, -50px);
  }
  100% {
    bottom: 120%;
    transform: translateX(-20px);
  }
}

.warning 
{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-family: "salsa", sans-serif;
}