@import url("https://fonts.googleapis.com/css2?family=Salsa&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora&family=Montserrat&family=Orbitron:wght@500&family=Protest+Riot&family=Reenie+Beanie&family=Sevillana&family=Style+Script&display=swap");
.mainContainer
{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 1;
  /* box-shadow: 0 0 40px #D62929; */
  background: transparent;
overflow: hidden;
  transition: 0.5s;
  transform-origin: center;
  opacity: 1; /*change to zero*/
  transform: translateX(-50%) translateY(-50%);
}



.mainContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
    
}

.mainContainer::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
    display: none;
}

.mainContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.ParticleContainer
{
  background: #0a0a0a;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.logo
{
    position: absolute;
    top: 3%;
    left: 2%;
    height: 40px;
    width: 40px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/website%20logo.png?alt=media&token=e3409e2d-d827-430d-b0b8-1345567525d5);
    background-size: cover;
}
.appName
{
    position: absolute;
    top: 1%;
    left: 5%;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}

.navbarStatic
{
    position: absolute;
    padding-left: 30px;
    height: 40px;
    width: 440px;
    top: 2%;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    background: transparent;
    z-index: 12;
    border-radius: 25px;
    transition: 0.5s;


}
.navbarStatic span
{
    position: absolute;
    margin-right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(182, 182, 182);
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    text-shadow: 0 0 3px #161616;
    cursor: pointer;
}
.navbarStatic span:nth-child(2)
{
    left: 29%;
}
.navbarStatic span:nth-child(3)
{
    left: 51%;
}
.navbarStatic span:nth-child(4)
{
    left: 73%;
}


.navbar
{
    position: absolute;
    padding-left: 30px;
    height: 40px;
    width: 440px;
    top: 2%;
    left: 50%; 
    transform: translateX(-50%) translateY(-250px);
    display: flex;
    background: rgba(49, 49, 49, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid #fff;
    z-index: 12;
    border-radius: 25px;
    transition: 0.5s;


}
.navbar span
{
    position: absolute;
    margin-right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    text-shadow: 0 0 3px #fff;
    cursor: pointer;
}
.navbar span:nth-child(2)
{
    left: 31%;
}
.navbar span:nth-child(3)
{
    left: 55%;
}
.navbar span:nth-child(4)
{
    left: 78%;
}

.mainHeading
{
    position: absolute;
    top: 10%;
    background-image: linear-gradient(45deg, #f3ec78, #c03a60);
    background-clip: text;
    color: transparent;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 5em;
    font-family: 'Salsa', cursive;
    text-align: center;
    justify-content: center;
}

.subHeading
{
    position: absolute;
    top: 350px;
    background-image: linear-gradient(45deg, #424242, #ffffff);
    background-clip: text;
    color: transparent;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    font-family: 'Salsa', cursive;
    z-index: 11;
}


.iconforvisumagic
{
    position: absolute;
    top: 27%;
    left: 19%;
    height: 40px;
    width: 40px;
    opacity: 0.8;
    transform: rotate(20deg);
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(111, 52, 212, 0.781));
    animation: slowRotate 2s linear infinite;
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/bigstar.png?alt=media&token=53c5945b-2b37-4c3e-972c-7bd1b0b9e4f1);
    background-size: cover;
}

.iconforInnovista
{
    position: absolute;
    top: 23%;
    left: 68%;
    height: 20px;
    width: 40px;
    transform: rotate(5deg);
    opacity: 0.8;
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(212, 143, 52, 0.781));
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/innoVistaEye.png?alt=media&token=7437b492-c8e3-4ade-81f6-39c9135a733a);
    background-size: 40px 20px;
    z-index: 100;

}


.iconforautoEdita
{
    position: absolute;
    top: 54%;
    left: 71%;
    height: 30px;
    width: 40px;
    opacity: 0.8;
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.781));
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/AutoEditaLogo.png?alt=media&token=385886f3-9903-4e69-9398-2d8bec95c9c8);
    background-size: 40px 40px;

}

.textforPortfolio
{
    position: absolute;
    top: 51%;
    left: 8%;
    color: #6b6a6a;
    font-family: 'Reenie Beanie', cursive;
    font-weight: 700;
    font-size: 30px;
    user-select: none;
    pointer-events: none;
    opacity: 0.7;
    
}
.textforsoftwares
{
    position: absolute;
    top: 27%;
    left: 84%;
    color: #6b6a6a;
    font-family: 'Reenie Beanie', cursive;
    font-weight: 700;
    font-size: 30px;
    user-select: none;
    pointer-events: none;
    opacity: 0.7;
}

.textforGallery
{
    position: absolute;
    top: 69%;
    left: 81%;
    color: #6b6a6a;
    font-family: 'Reenie Beanie', cursive;
    font-weight: 700;
    font-size: 30px;
    user-select: none;
    pointer-events: none;
    opacity: 0.7;
}



@keyframes slowRotate {
    0%{
        transform: rotate(20deg);
    }
    25%{
        transform: rotate(15deg)
    }
    50%
    {
        transform: rotate(25deg);
    }
    100% 
    {
        transform: rotate(20deg);
    }
}

.curlyNavArrowOne
{
    position: absolute;
    top: 26%;
    left: 0%;
    background: url(IMAGES/curlyArrow.png);
    height: 150px;
    width: 320px;
    transform-origin: center;
    transform: scale(0.6) rotate(125deg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
}


.curlyNavArrowTwo
{
    position: absolute;
    top: 10%;
    left: 68%;
    background: url(IMAGES/curlyArrow.png);
    height: 150px;
    width: 320px;
    transform-origin: center;
    transform: scale(0.6) rotateY(180deg) rotateZ(160deg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.curlyNavArrowThree
{
    position: absolute;
    top: 60%;
    left: 66%;
    background: url(IMAGES/curlyArrow.png);
    height: 150px;
    width: 320px;
    transform-origin: center;
    transform: scale(0.6) rotateY(180deg) rotateZ(160deg) rotateX(-180deg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
}


.exploreBtn
{
    position: absolute;
    padding-left: 30px;
    height: 40px;
    width: 200px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    backdrop-filter: blur(9px);
    background-color: #3535355b;
    z-index: 100;
    border-radius: 10px;
    border: 1px solid #5f5f5f;
    cursor: pointer;
    z-index: 12;
    border-radius: 25px;

}
.exploreBtn span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    pointer-events: none;   
}
.exploreBtn span:nth-child(1)
{
    height: 20px;
    width: 20px;
    background-size: cover;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/website%20logo.png?alt=media&token=e3409e2d-d827-430d-b0b8-1345567525d5);
    pointer-events: none;
    left: 10%;
}
.exploreBtn span:nth-child(2)
{
    left: 25%;
}

@keyframes float {
    from, to {
      transform: translateY(-0%);
    }
    
    50% {    
      transform: translateY(-3%);
    }
  }
  
  @keyframes background-pan {
    from {
      background-position: 1000% center;
    }
    
    to {
      background-position: 0% center;
    }
  }