.loadMoreBtn {
    position: absolute;
    top: 91%;
    left: 40%;
    transform: translateX(-50%) scale(0);
    letter-spacing: 0.1em;
    border: none;
    border-radius: 8px;
    background: #212121c3;
    backdrop-filter: blur(5px);
    cursor: pointer;
    color: white;
    padding: 0.6em 1em;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
      letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
      border: 2px solid #00ff88;
      font-family: "VT323", monospace;
      font-size: 1.3em;
      font-weight: 100;
      opacity: 0;
      transition: 0.5s;
      z-index: -1;
      display: block;
  }
  .loadMoreBtn.visible
  {
    opacity: 1;
    z-index: 1;
    transform: scale(1.2);
    transition: 0.5s;
  }
  .loadMoreBtn:hover {
    background-color: #141414;
  }
  
  .loadMoreBtn:active {
    
    background-color: var(--accent);
    transform: scale(0.95);
  }
  