
body 
{
    box-sizing: border-box;
    overflow: hidden;
}
.planetContainer
{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateY(210px);
}

.centerLogo
{
    position: absolute;
    height: 210px;
    width: 210px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/website%20logo.png?alt=media&token=e3409e2d-d827-430d-b0b8-1345567525d5");
    top: 670px;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);
    background-size: cover;
    filter: drop-shadow(0 2px 10px rgb(5, 5, 5));
}

.ring1 {
    position: absolute;
    border-radius: 50%;
    top: 650px;
    width: 270px;
    height: 270px;
    transform-origin: center;
    left: 50%;
    transform: translateX(-50%) scale(1);
    border-left:  2px solid #5e5e68ad;
    border-right:  2px solid #5e5e68ad;
    border-radius: 50%;
    background: transparent;
    animation: rotateHere 3s linear infinite;
  }

  .planet1
  {
    position: relative;
    left: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: contain;
    background-image :url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/planet1.png?alt=media&token=3f5c9635-d0f1-4eef-8868-f6fa575a681b); 
    /* animation: rotate 2s linear infinite; */
    
  }


  @keyframes rotate {
    0%
    {
      transform: rotate(0deg);
    }
    100%
    {
      transform: rotate(360deg);
    }
    
  }


  @keyframes rotateHere {
    0%
    {
      transform:  translateX(-50%) scale(1) rotate(0deg);
    }
    100%
    {
      transform:  translateX(-50%) scale(1) rotate(360deg);
    }
  }

  .ring2 {
    position: absolute;
    border-radius: 50%;
    top: 610px;
    width: 360px;
    height: 360px;
    transform-origin: center;
    transform: scale(1.5);
    left: 50%;
    transform: translateX(-50%) scale(1);
    border-left:  2px solid #5e5e68ad;
    border-right:  2px solid #5e5e68ad;
    border-radius: 50%;
    background: transparent;
    animation: rotateHere 5s linear infinite;
  }

  .planet2
  {
    position: relative;
    left: 20px;
    top: 20px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-size: cover;
    background-image :url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/planet2.png?alt=media&token=0479bd26-997a-4063-b22a-6409379dc3a7); 
    /* animation: rotate 2s linear infinite; */
  }

  .ring3 {
    position: absolute;
    border-radius: 50%;
    top: 560px;
    width: 460px;
    height: 460px;
    transform-origin: center;
    transform: scale(1.5);
    left: 50%;
    transform: translateX(-50%) scale(1);
    border-left:  2px solid #5e5e68ad;
    border-right:  2px solid #5e5e68ad;
    border-radius: 50%;
    background: transparent;
    animation: rotateHere 7s linear infinite;
  }

  .planet3
  {
    position: relative;
    left: 20px;
    top: 20px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-size: cover;
    background-image :url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/planet3.png?alt=media&token=cee9d75f-ad37-48a5-91b0-8079b406bc76); 
    /* animation: rotate 2s linear infinite; */
  }

  .ring4 {
    position: absolute;
    border-radius: 50%;
    top: 490px;
    width: 600px;
    height: 600px;
    transform-origin: center;
    transform: scale(1.5);
    left: 50%;
    border-left:  2px solid #5e5e68ad;
    border-right:  2px solid #5e5e68ad;
    transform: translateX(-50%) scale(1);
    border-radius: 50%;
    background: transparent;
    animation: rotateHere 9s linear infinite;
  }

  .planet4
  {
    position: relative;
    left: 43px;
    top: 43px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-size: cover;
    background-image :url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/planet4.png?alt=media&token=d68c7b96-833b-4e35-b399-32cb499c15ac); 
    z-index: 22;
  }

  .Planet4ring1
  {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 41.5px;
    top: 41.5px;
    transform-origin: center;
    transform: scale(0.8);
    background: #16161834;
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
  }
  .Planet4ring2
  {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 41.5px;
    top: 41.5px;
    transform-origin: center;
    transform: scale(0.9);
    background: #a0a0ad67;
    backdrop-filter: blur(15px);
    border-radius: 50%;
    opacity: 0.5;
    z-index: -2;
  }

  .ring5 {
    position: absolute;
    border-radius: 50%;
    top: 410px;
    width: 760px;
    height: 760px;
    transform-origin: center;
    transform: scale(1.5);
    left: 50%;
    transform: translateX(-50%) scale(1);
    border-left:  2px solid #5e5e68ad;
    border-right:  2px solid #5e5e68ad;
    border-radius: 50%;
    animation: rotateHere 7s linear infinite;
  }
  

  .planet5
  {
    position: relative;
    left: 50px;
    top: 50px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-size: cover;
    background-image :url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/planet5.png?alt=media&token=da47ad42-09ec-44c6-b9b9-60e5df70e4ae); 

  }

  .Planet5ring1
  {
    position: absolute;
    height: 130px;
    width: 130px;
    left: 48px;
    top: 48px;
    transform-origin: center;
    transform: scale(0.7);
    background: #5f5f6881;
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
  }
  .Planet5ring2
  {
    position: absolute;
    height: 130px;
    width: 130px;
    left: 48px;
    top: 48px;
    transform-origin: center;
    transform: scale(0.9);
    background: #a0a0ad67;
    backdrop-filter: blur(15px);
    border-radius: 50%;
    opacity: 0.5;
    z-index: -2;
  }

  .ring6 {
    position: absolute;
    border-radius: 50%;
    top: 320px;
    width: 940px;
    height: 940px;
    transform-origin: center;
    transform: scale(1.5);
    left: 50%;
    transform: translateX(-50%) scale(1);
    border-left:  2px solid #5e5e68ad;
    border-right:  2px solid #5e5e68ad;
    border-radius: 50%;
    background: transparent;
    animation: rotateHere 10s linear infinite;
  }

  .planet6
  {
    position: relative;
    left: 80px;
    top: 80px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-size: cover;
    background-image :url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/planet6.png?alt=media&token=bdbcddca-92c6-4056-857f-f253c835d19f); 
  }

  .Planet6ring1
  {
    position: absolute;
    height: 120px;
    width: 120px;
    left: 78px;
    top: 80px;
    transform-origin: center;
    transform: scale(0.7);
    background: #5f5f6881;
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
  }
  .Planet6ring2
  {
    position: absolute;
    height: 120px;
    width: 120px;
    left: 78px;
    top: 80px;
    transform-origin: center;
    transform: scale(0.9);
    background: #a0a0ad67;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    opacity: 0.5;
    z-index: -2;
  }

  .ring7 {
    position: absolute;
    border-radius: 50%;
    top: 200px;
    width: 1170px;
    height: 1170px;
    transform-origin: center;
    transform: scale(1.5);
    left: 50%;
    transform: translateX(-50%) scale(1);
    border-left:  2px solid #5e5e68ad;
    border-right:  2px solid #5e5e68ad;
    border-radius: 50%;
    background: transparent;
    animation: rotateHere 11s linear infinite;
  }


  .planet7
  {
    position: relative;
    left: 140px;
    top: 140px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    background-image :url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/planet7.png?alt=media&token=05c41a03-3fd1-4784-85d3-784d397d8830); 
    /* animation: rotate 8s linear infinite; */
  }