@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.upperNavBar {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: start; /* Aligns children to the start horizontally */
    height: 80px;
    width: 100%;
    display: flex;
    z-index: 50;
    background: #00000070;
    backdrop-filter: blur(10px);
    overflow: hidden;
    padding-left: 2%; /* Adds some padding on the left to position the logo and app name nicely */
    transition: 0.5s;
}

.upperNavBar.hidden
{
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s;

}
.logo {
    height: 40px;
    width: 40px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/website%20logo.png?alt=media&token=e3409e2d-d827-430d-b0b8-1345567525d5);
    background-size: cover;
    margin-right: 10px; /* Adds some spacing between the logo and app name */
}

.appName {
    font-family: 'Source Code Pro', monospace;
    color: #ffffff;
    font-size: 20px;
}

.aiArtCreate.navbar
{
    position: relative;
    width: 180px;
    height: 60px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    top: 0;
    left: 80%;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    overflow: hidden; /* Ensure the inner element doesn't overflow */
    cursor: pointer;
}
.aiArtCreateText.navbar
{
    color: #ffffff;
}

.aiArtDocs.navbar {
    position: absolute;
    top: 50%;
    width: 180px;
    height: 60px;
    background: #a079e9;
    border: 2px solid #a079e9;
    border-radius: 15px;
    left: 83%;
    transform: translateY(-50%);
    overflow: hidden; /* Ensure the inner element doesn't overflow */
    justify-content: center;
    cursor: pointer;
  }
