.contribute
{
    position: relative; 
    margin-top: 50px;
    z-index: 3; 
    display: flex; 
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    min-height: 100vh;
}


.contributeBackdrop 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        145deg,
        rgba(0, 255, 166, 0.1),
        rgba(0, 0, 0, 0.3)
    );
    border-radius: 24px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: -1;
}


.contributeBackdropOverlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../IMAGES/Pollinations/heroSectionPreview/bgOverlay.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    opacity: 0.5;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.contributeSection 
{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
}

.contributeSection > .contributeText
{
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Orbitron";
  font-size: 5em;
  font-weight: 700;
}
.contributeSection > .contributeDescription
{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Lexend", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    display: flex;
}