.footer
{
    position: relative; 
    margin-top: 20px;
    z-index: 3; 
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    min-height: 50vh;
}

.footerBackdrop 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: -1;
}

.footer-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem 1rem;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
  
  .footer-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .span-2 {
    grid-column: span 2;
  }
  
  .footer-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .footer-description {
    max-width: 300px;
    color: rgb(236, 198, 83);
  }
  
  .footer-socials {
    display: flex;
    gap: 1rem;
  }
  
  .footer-social ion-icon {
    width: 24px;
    height: 24px;
    transition: color 0.3s ease;
    color: #b479f0;
  }
  
  .footer-social:hover ion-icon {
    color: #ffe597;
    transition: color 0.3s ease;
  }
  
  .footer-badge img {
    width: 150px;
    height: auto;
  }
  
  .footer-heading {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-col li {
    margin-bottom: 0.5rem;
  }
  
  .footer-col a {
    text-decoration: none;
    color: #ffc;
    transition: color 0.3s ease;
  }
  
  .footer-col a:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    border-top: 1px solid #ccc;
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    font-size: 0.875rem;
    color: #ededed;
  }
  