.integrate
{
    position: relative; 
    margin-top: 50px;
    z-index: 3; 
    display: flex; 
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    min-height: 100vh;
}


.integrateBackdrop 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        145deg,
        rgba(255, 255, 0, 0.1),
        rgba(0, 0, 0, 0.3)
    );
    border-radius: 24px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: -1;
}

.integrateBackdropOverlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../IMAGES/Pollinations/heroSectionPreview/bgOverlay.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    opacity: 0.5;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.integrateSection 
{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
}

.integrateSection > .integrateText
{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Orbitron";
  font-size: 5em;
  font-weight: 700;
}
.integrateSection > .integrateDescription
{
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Lexend", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    display: flex;
}
.integrateSection > .snippetSection {
    position: absolute;
    top: 30%;
    left: 3%;
    height: 65%;
    width: 75%;
    background-color: #04272a;
    border-radius: 12px;
    color: #f4f4f4;
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.02); /* very subtle border */
}

.snippetSection .snippetHeader {
    height: 36px;
    background-color: #2a2518;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    justify-content: space-between;
    font-size: 0.9em;
    color: #d6d6d6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.snippetSection .dots {
    display: flex;
    gap: 8px;
}

.snippetSection .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.snippetSection .dot.red { background-color: #ff5f56; }
.snippetSection .dot.yellow { background-color: #ffbd2e; }
.snippetSection .dot.green { background-color: #27c93f; }

.snippetSection .codeArea {
    position: absolute;
    top: 20%;
    padding: 16px;
    max-height: 400px;
    font-size: 1.5em;
    line-height: 1.5em;
    white-space: pre;
}

pre 
{
    position: relative;
    top: -120px;
    margin: 0;
    padding: 0;
    overflow: auto;
    max-height: 400px;
    font-size: 1.5em;
    line-height: 1.5em;
    white-space: pre;
}

pre::-webkit-scrollbar
{
    display: none;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
    background: transparent;
    overflow: auto;
    max-height: 400px;
    color: #fff;
    pointer-events: all;
}

pre[class*="language-"].line-numbers::-webkit-scrollbar
{
    display: none;
}

code[class*="language-"], pre[class*="language-"] {
    
    color: #f8f8f2;
    background: transparent;
    font-family: "Fira Code", monospace;
    font-size: 0.8em;
    line-height: 1.5em;
    white-space: pre;
    text-shadow: none;
}

#codeEditorZone > .token.comment
{
    color: #6272a4;
    background: none;
    text-shadow: none;
}
#codeEditorZone > .token.constant
{
    color: #f3ca63;
    background: none;
    text-shadow: none;
}

#codeEditorZone > .token.operator
{
    color: #ff79c6;
    background: none;
    text-shadow: none;
}

#codeEditorZone > .token.template-string > .token.string
{
    color: #1bda74;
    background: none;
    text-shadow: none;
}
code::selection
{
    background: #ff79c6;
    color: #282a36;
}