.topBoxesDesigns {
    position: absolute;
    top: 0;
    left: 5%;
    background: transparent;
    height: 60%;
    width: 30%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 200px;
    border-right: 3px solid #40da976d;
    border-width: 20px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-rows: 60px;
    gap: 8px;
    padding: 10px;
    overflow: hidden;
    align-content: flex-start;
    opacity: 0.4;
}
.topBoxesDesigns > .box {
    height: 60px;
    width: 60px;
    border: 3px solid #0fea8b6d;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset 0 0 8px #0fea8bc8;
}
.particles 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
}