.patternContainer
{
    position: absolute;
    top:  0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: rgba(0, 0, 0, 0.537);
    backdrop-filter: blur(5px);
    z-index: 100;
    transition: 0.5s;
}
.patternContainer.hidden 
{
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}
.patternContainer.hidden > #wrapper 
{
    display: none;
}
#wrapper {
    height: 350px;
    width: 500px;
    position: relative;
    transform: scale(1);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    opacity: 1;
    transform: translateX(-50%)  translateY(-50%);
  }
  
  #wrapper > .shape {
    height: 30%;
    width: 30%;
    background-color: rgba(255 255 255 / 5%);
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
    opacity: 75%;
    backdrop-filter: blur(5px);
  }
  
  #wrapper > .shape:nth-child(1) {
    background-color: rgb(125, 141, 181); /* Muted blue */
    z-index: 2;
}

#wrapper > .shape:nth-child(2) {
    background-color: rgb(215, 225, 243); /* Light blue */
    z-index: 2;
}

#wrapper > .shape:nth-child(3) {
    background-color: rgb(81, 129, 240); /* Base blue */
    z-index: 1;
}

#wrapper > .shape:nth-child(4) {
    background-color: rgb(173, 112, 213); /* Purple with a blue tone */
    z-index: 2;
}

#wrapper > .shape:nth-child(5) {
    background-color: rgb(254, 220, 102); /* Yellow for contrast */
    z-index: 2;
}

#wrapper > .shape:nth-child(6) {
    background-color: rgb(58, 167, 232); /* Sky blue */
    z-index: 2;
}

#wrapper > .shape:nth-child(7) {
    background-color: rgb(102, 230, 207); /* Aqua */
    z-index: 2;
}

  
  #wrapper[data-configuration="1"] > .shape:nth-child(1) {  
    left: 0%;
    top: 0%;
    height: 50%;
    width: 20%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(2) {  
    left: 20%;
    top: 0%;
    height: 50%;
    width: 30%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(3) {  
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(4) {  
    left: 0%;
    top: 50%;
    height: 50%;
    width: 30%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(5) {  
    left: 30%;
    top: 50%;
    height: 50%;
    width: 20%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(6) {  
    left: 70%;
    top: 50%;
    height: 50%;
    width: 30%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(7) {  
    left: 85%;
    top: 75%;
    height: 25%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(1) {
    left: 25%;
    top: 20%;
    height: 80%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(2) {  
    left: 40%;
    top: 20%;
    height: 50%;
    width: 10%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(3) {  
    left: 50%;
    top: 0%;
    height: 100%;
    width: 25%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(4) {  
    left: 0%;
    top: 0%;
    height: 50%;
    width: 10%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(5) {  
    left: 10%;
    top: 0%;
    height: 70%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(6) {  
    left: 75%;
    top: 10%;
    height: 80%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(7) {  
    left: 90%;
    top: 40%;
    height: 60%;
    width: 10%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(1) {
    left: 0%;
    top: 16.5%;
    height: 32%;
    width: 20%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(2) {  
    left: 20%;
    top: 2.7%;
    height: 55%;
    width: 34%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(3) {  
    left: 38%;
    top: 0%;
    height: 100%;
    width: 62%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(4) {  
    left: 0%;
    top: 47.3%;
    height: 55%;
    width: 34%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(5) {   
    left: 34%;
    top: 56.4%;
    height: 32%;
    width: 20%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(6) {  
    left: 66%;
    top: 45%;
    height: 55%;
    width: 34%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(7) {  
    left: 80%;
    top: 68%;
    height: 32%;
    width: 20%;
  }
  
  #wrapper[data-roundness="1"] > .shape {   
    border-radius: 6rem; 
  }
  
  #wrapper[data-roundness="2"] > .shape {  
    border-radius: 0rem;
  }
  
  #wrapper[data-roundness="3"] > .shape {  
    border-radius: 30rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(1) {  
    border-bottom-left-radius: 10rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(2) {  
    border-radius: 20rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(3) {  
    border-top-right-radius: 12rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(4) {  
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(5) {  
    border-bottom-left-radius: 10rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(6) {  
    border-top-left-radius: 16rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(7) {  
    border-top-left-radius: 10rem;
  }
  