
#imageCustomization 
{
    position: relative;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; 
    background: transparent;
    padding-top: 20px;
    margin-top: 60px;
}


.imageThemeSection {
    position: absolute;
    top: 0%;
    height: 450px;
    width: 100%;
    background-color: transparent;
    /* border-bottom: 5px solid #1D202A; */
    border-left: 1px solid #1D202A;
    border-right: 1px solid #1D202A;
    overflow: hidden;
  }

  .imageThemeSection::before,
  .imageCustomizationPrompt::before
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, 
    #8888889c, #2e242471 2px,  /* Darker gray stripe */
    transparent 1px, transparent 8px  /* Transparent stripe */
    );
    z-index: 1;
  }

    .imageThemeSection::after ,
    .imageCustomizationPrompt::after
    {
        content: "";
        position: absolute;
        top: 0;
        left: 97%;
        width: 3%;
        height: 100%;
        background: repeating-linear-gradient(-45deg, 
        #8888889c, #2e242471 2px,  /* Darker gray stripe */
        transparent 1px, transparent 8px  /* Transparent stripe */
        );
        z-index: 1;
    }
  
  .imageThemeSectionBackdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 94%;
    background: #1D202A;
  }
  
  .imageThemeSectionBackdropv-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 25px;
    height: 95%;
    width: 98%;
    background: #030712;
    border: 1px solid #616678;
    overflow: hidden;
  }
  
  .imageThemeSectionBackdropv-2>.documentIcon {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 5em;
    color: #fff;
    font-weight: 500;
  }
  
  .imageThemeSectionBackdropv-2>.heading {
    position: absolute;
    left: 12%;
    top: 5%;
    font-size: 1.8em;
    color: #fff;
  
  }
  
  .imageThemeSectionBackdropv-2>.desc {
    position: absolute;
    top: 18%;
    left: 12%;
    color: #888;
    width: 90%;
    flex-wrap: wrap;
  }

  .imageThemeSectionBackdropv-2 > .themeShowCase
  {
    position: absolute;
    top: 30%;
    left: 65%;
    width: 30%;
    height: 70%;
    background: repeating-linear-gradient(-45deg, 
    #5b5a5a9c, #2e242471 2px,  /* Darker gray stripe */
    transparent 1px, transparent 8px  /* Transparent stripe */
    );
    border: 1px solid #555;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }



  .imageThemeSectionBackdropv-2 > .imageProcessingAnimation
  {
    opacity: 0;
    scale: 0;
    transition: 0.25s;
  }

  .imageThemeSectionBackdropv-2 > .imageProcessingAnimation.imageMode
  {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    height: 70%;
    background: repeating-linear-gradient(45deg, 
    #5b5a5a9c, #2e242471 2px,  
    transparent 1px, transparent 27px  
    );
    border: 1px solid #555;
    overflow: hidden;
    transition: 0.25s;
    transition-delay: 1.2s;
    opacity: 1;
    scale: 1;
  }

  .imageThemeSectionBackdropv-2 > .imageProcessingAnimation > .userInputImageHolder
  {
    position: relative;
    top: 2.5%;
    height: 95%;
    width: 95%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: #1D202A;
    border: 1px solid #616678;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
  }
  .imageThemeSectionBackdropv-2 > .imageProcessingAnimation > .userInputImageHolder::before
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background: #030712;
    background: var(--before-background);
    background-size: cover;
    z-index: 1;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    animation: processingImage 3s ease infinite;
    overflow: hidden;
  }
  .imageThemeSectionBackdropv-2 > .imageProcessingAnimation > .userInputImageHolder::after 
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(125deg, #ff7eb3, #ff758c, #ff6e66, #ff6b3d, #ff6a00);
    animation: blobEffect 1s infinite alternate;
    z-index: 2;
    filter: blur(25px) opacity(0.35);
  }

  @keyframes blobEffect {
    0% {
        transform: scale(1) translate(0, 0);
    }
    50% {
        transform: scale(1.2) translate(10px, -10px);
    }
    100% {
        transform: scale(1) translate(0, 0);
    }
}

  @keyframes processingImage {
    0%,100% {
      filter: blur(3px) brightness(0.45) grayscale(1);
    }
    75% {
        filter: blur(10px) brightness(0.8)  grayscale(0);
    }
    
  }

  
.imageThemeSectionBackdropv-2 > .imageThemeContainer {
    position: absolute;
    top: 30%;
    width: 60%;
    left: 5%;
    height: 70%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 1px, transparent 0);
    background-size: 10px 10px;
    background-position: -5px -5px;
    border: 1px solid #555;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.25s;

}
.imageThemeSectionBackdropv-2 > .imageThemeContainer.imageMode
{
    width: 30%;
    transition: 0.25s;
}
.imageThemeSectionBackdropv-2 > .themeShowCase > .imageHolderBackdrop
{
    position: relative;
    height: 95%;
    width: 90%;
    border-radius: 15px;
    background: #1D202A;
    border: 1px solid #616678;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    

}


.imageThemeSectionBackdropv-2 > .themeShowCase > .imageHolderBackdrop > .themeShowCaseHolder
{ 
    position: absolute;
    top: 0;
    left: 0;
    top: -5%;
    left: 2.5%;
    width: 95%;
    height: 100%;
    background: #030712;
    background: url(../IMAGES/PREVIEW_IMAGES/normal_preview.JPG);
    transform: scale(0.8);
    background-size: cover;
    background-position: top;
    z-index: 1;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
}

.imageThemeSectionBackdropv-2 > .imageThemeContainer::-webkit-scrollbar
{
    display: none;
}
.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes {
    position: relative;
    margin-bottom: 10px;
    height: 140px;
    width: 140px;
    border-radius: 15px;
    background: #1D202A;
    rotate: 5deg;
    border: 1px solid #616678;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 
                inset 0 0 20px rgba(255, 255, 255, 0.3), 
                inset 0 0 30px rgba(255, 255, 255, 0.2),
                0 0 10px #000;
    backdrop-filter: blur(5px);
    opacity: 0.4;
    overflow: hidden;
    transition: 0.25s;

}

.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes > span 
{
    position: absolute;
    top: 75%;
    left: 5%;
    padding: 5px 5px;
    background: #13192de1;
    border-radius: 12px;
    border: 2px solid #888;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes > i 
{
    color: #fff;
    font-size: 4em;
    position: absolute;
}
.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes:hover 
{
    opacity: 1;
    border: 2px solid rgb(234, 162, 6);
    rotate: 0deg !important;
    transition: 0.25s;
}
.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes.selected 
{
    opacity: 1;
    border: 2px solid rgb(234, 162, 6);
    rotate: 0deg !important;
    transition: 0.25s;
}


.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes:nth-child(4n+2) {
    rotate: 12deg;
}
.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes:nth-child(5n-3) {
    rotate: -15deg;
}
.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes:nth-child(6n+1) {
    rotate: 18deg;
}
.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes:nth-child(7n-4) {
    rotate: -8deg;
}
.imageThemeSectionBackdropv-2 > .imageThemeContainer > .themes:nth-child(3n+3) {
    rotate: 25deg;
}

.imageCustomizationPrompt {
  position: relative;
  top: 22%;
  height: 240px;
  overflow: hidden;
  width: 100%;
  background: #030712;
}
.imageCustomizationPrompt > .imageCustomizationPromptBackdrop 
{
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: transparent;
  border-bottom: 1px solid #1D202A;
  border-left: 1px solid #1D202A;
  border-right: 1px solid #1D202A;
  overflow-X: hidden;
    overflow-Y: auto;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  flex-wrap: wrap;
}
.imageCustomizationPrompt > .imageCustomizationPromptBackdrop::-webkit-scrollbar
{
    display: none;  
}
.imageCustomizationPrompt > .imageCustomizationPromptBackdrop  > .customizationTextArea 
{
    position: absolute;
    padding-top: 10px;
    top: 1%;
    left: 10%;
    font-size: 1.3em;
    color: #795757;
    font-weight: 500;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    height: 100%;
}
.imageCustomizationPrompt > .imageCustomizationPromptBackdrop  > .customizationTextArea::-webkit-scrollbar
{
    display: none;
}
.imageCustomizationPrompt > .imageCustomizationPromptBackdrop  > .sendPrompt
{
    position: absolute;
    top: 40%;
    right: 5%;
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
}
.imageCustomizationPrompt > .imageCustomizationPromptBackdrop  > .sendPrompt:hover
{
    color: rgb(234, 162, 6);
    transition: 0.25s;
}




.model_ratioSelectionZone {
    position: absolute;
  top: 0%;
  height: 120px;
  width: 100%;
  background: transparent;
  border-left: 1px solid #1D202A;
  border-right: 1px solid #1D202A;
  }
  
  
  .model_ratioSelectionZoneBackdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 94%;
    display: flex;
  }
  
  .model_ratioSelectionZoneBackdropv1 {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    border-radius: 25px;
    height: 80%;
    width: 48%;
    background: #030712;
    border: 1px solid #616678;
    overflow: hidden;
  }
.model_ratioSelectionZoneBackdropv1>.documentContainer {
    position: absolute;
    top: 00%;
    width: 100%;
    left: 0%;
    height: 100%;
    border: 1px solid #555;
    border-radius: 15px;
    z-index: 10;
    box-shadow: inset 0 20px 40px #030712,
      inset -20px 10px 50px #030712;
    display: flex;
    padding-left: 25px;
    padding-top: 10px;
    box-sizing: border-box;
    gap: 10px;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
}
.model_ratioSelectionZoneBackdropv1>.documentContainer::-webkit-scrollbar
{
    display: none;
}
.model_ratioSelectionZoneBackdropv1 > .documentContainer > .modelsTiles {
    position: relative;
    flex: 0 0 auto; /* Prevent shrinking and allow horizontal scrolling */
    width: 100px; /* Fixed width for each tile */
    height: 70px; /* Fixed height for each tile */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 5px solid #1D202A;
    background: #030712;
    cursor: pointer;
    transition: 0.25s;
    margin-right: 10px; /* Add spacing between tiles */
}

.model_ratioSelectionZoneBackdropv1 > .documentContainer > .modelsTiles:hover {
    background: #616678;
    transition: 0.25s;
}

.model_ratioSelectionZoneBackdropv1 > .documentContainer > .modelsTiles > span {
    position: absolute;
    color: #fff;
    font-size: 0.8em;
}

.model_ratioSelectionZoneBackdropv1 > .documentContainer > .modelsTiles.selected {
    border: 5px solid rgb(234, 162, 6);
}

.model_ratioSelectionZoneBackdropv2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    border-radius: 25px;
    height: 80%;
    width: 48%;
    background: #030712;
    border: 1px solid #616678;
    overflow: hidden;
}
.model_ratioSelectionZoneBackdropv2 > .documentContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 1px, transparent 0);
    background-size: 10px 10px;
    background-position: -5px -5px;
    border: 1px solid #555;
    border-radius: 15px;
    display: flex;
    padding: 0 50px 0 0; /* Adjusted padding to remove gap from the right side */
    box-sizing: border-box;
    gap: 10px;
}

.model_ratioSelectionZoneBackdropv2 > .documentContainer > .aspectRatioTiles {
    position: relative;
    top: 5%;
    left: 5%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 12px;
    border: 5px solid #1D202A;
    background: #030712;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;

}
.model_ratioSelectionZoneBackdropv2 > .documentContainer > .aspectRatioTiles:hover
{
    background: #616678;
    transition: 0.25s;
}
.model_ratioSelectionZoneBackdropv2 > .documentContainer > .aspectRatioTiles > span 
{
    position: absolute;
    color: #fff;
    font-size: 2em;
}
.model_ratioSelectionZoneBackdropv2 > .documentContainer > .aspectRatioTiles.selected 
{
    border: 5px solid rgb(234, 162, 6);
}