.promptBox {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%; /* Base position */
    height: 200px;
    padding-top: 15px;
    padding-left: 60px;
    resize: none;
    max-height: 180px; /* Adjust max height */
    overflow-y: auto;
    border: 1px solid rgba(114, 119, 116, 0.533);
    font-size: 16px;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    background: #1312126b;
    backdrop-filter: blur(50px) contrast(1.8);
    border-radius: 25px;
    font-size: 24px;
    transition: 0.85s;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promptBox.hidden 
{
    opacity: 0;
    filter: blur(40px);
    scale: 0;
    transform: translateY(100%);
    pointer-events: none;
    transition: 0.85s;
    transition-timing-function: ease-in-out;
}

.promptBox.image 
{
    height: 180px;
    padding-top: 15px;
    padding-left: 60px;
    resize: none;
    top: 10%;
    max-height: 180px; /* Adjust max height */
    overflow-y: auto;
    border: 1px solid rgba(114, 119, 116, 0.533);
    font-size: 16px;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    background: #1312126b;
    border-radius: 25px;
    font-size: 24px;
    transition: 0.25s;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.promptBox.image .promptTextInput
{
    width: 80%;
    left: 10%;
}

.promptBox.image .imageHolder
{
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}
.imageHolder
{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 15px;
    top: 5%;
    left: 1%;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.imageHolder > #cancelImageMode
{
    position: absolute;
    top: -5%;
    left: 75%;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}
.imageHolder > #cancelImageMode.hidden 
{
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.promptBox.image .controls #inputImage
{
    display: none;
}

.promptBox .promptTextInput {
    position: absolute;
    min-height: 45px;
    max-height: 130px; /* Adjust max */
    width: 93%;
    top:  0%;
    left: 3%;
    font-size: 1em;
    border: none;
    outline: none;
    color: #f3cf74;
    background: transparent;
    height: 100px;
    box-sizing: border-box;
    resize: none;
    padding-top: 10px;
    overflow-y: auto;
    transition: 0.5s;
    filter: blur(0);
    opacity: 1;
    line-height: 1.2em;
    pointer-events: all;
}
.promptBox .promptTextInput.blur 
{
    filter: blur(40px);
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.promptBox .overlay 
{
    opacity: 0;
    transition: 1;
    position: absolute;
    filter: blur(40px);
}



.promptBox .overlay.display
{
    position: absolute;
    min-height: 45px;
    max-height: 130px; /* Adjust max */
    width: 93%;
    top:  0%;
    left: 3%;
    font-size: 1em;
    border: none;
    outline: none;
    color: #66f5ab;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    background: transparent;
    height: 100px;
    filter: blur(0);
    opacity: 1;
    transition: 1s;
}

.promptBox.image > .overlay.display
{
    width: 85%;
    left: 8%;
}


.promptBox .overlay.display::-webkit-scrollbar
{
    display: none;
}

.promptBox .promptTextInput::-webkit-scrollbar {
    display: none;
}

.promptBox.generating {
    top: 74%;
    pointer-events: none;
    height: 60px;
    border: 1px solid rgba(238, 204, 11, 0.533);
}

.promptBox.generated {
    top: 74%;
    pointer-events: none;
    color: #f6a6fe;
    height: 140px;
    border: 1px solid rgba(145, 69, 252, 0.533);
}
.stopGeneration.hidden
{
    display: none;
}
.promptBox.generated ~ .enhancingMessage
{
    display: none;
}


.promptBox.generating > .controls
{
    display: none;
}
.promptBox.generating > .generateButton
{
    display: none;
}

.promptBox.generated 
{
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}


@keyframes swapAnimationTwo {
  0%, 100% {
    transform: translateY(-50%) scale(0.8);
  }
  25% 
  {
    transform: translateY(-50%) scale(0.9);
  }
  50% {
    left: 4.6%;
    transform: translateY(-50%) scale(0.8);
  }
}

@keyframes swapAnimationOne {
  0%, 100% {
    transform: translateY(-50%) scale(0.8);
  }
  25% 
  {
    transform: translateY(-50%) scale(0.9);
  }
  50% {
    left: 1.3%;
    transform: translateY(-50%) scale(0.8);
  }
}


.promptBox.generating > .stopGeneration {
    display: block;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}



.promptBox.generating .stopGeneration {
    opacity: 1;
    pointer-events: all;
}


.searchBtn {
    --transition: 0.25s;
    --spark: 1.8s;
    --cut: 0.1em;
    --active: 0;
    --bg: radial-gradient(
            40% 50% at center 100%,
            hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
            transparent
        ),
        radial-gradient(
            80% 100% at center 120%,
            hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
            transparent
        ),
        hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
    background: var(--bg);
    font-size: 2rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    padding: 0.9em 2em;
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 25px;
    transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
	position: relative;
	transform: scale(0.5);
}

.searchBtn i
{
    position: relative;
    color: #fff;
    font-size: 1.5em;
}
.searchBtn:active {
    scale: 1;
}

.searchBtn:is(:hover, :focus-visible) path {
    animation-name: bounce;
}



.spark {
    position: absolute;
    inset: 0;
    border-radius: 100px;
    rotate: 0deg;
    overflow: hidden;
    mask: linear-gradient(white, transparent 50%);
    animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
    to {
        rotate: 360deg;
    }
}

.searchBtn:before {
    content: "";
    position: absolute;
    inset: -0.25em;
    z-index: -1;
    border: 0.25em solid hsl(260 97% 50% / 0.5);
    border-radius: 100px;
    opacity: var(--active, 0);
    transition: opacity var(--transition);
}

.spark:before {
    content: "";
    position: absolute;
    width: 200%;
    aspect-ratio: 1;
    top: 0%;
    left: 50%;
    z-index: -1;
    translate: -50% -15%;
    rotate: 0;
    transform: rotate(-90deg);
    opacity: calc((var(--active)) + 0.4);
    background: conic-gradient(
        from 0deg,
        transparent 0 340deg,
        white 360deg
    );
    transition: opacity var(--transition);
    animation: rotate var(--spark) linear infinite both;
}

.spark:after {
    content: "";
    position: absolute;
    inset: var(--cut);
    border-radius: 100px;
}

.backdrop {
    position: absolute;
    inset: var(--cut);
    background: var(--bg);
    border-radius: 100px;
    transition: background var(--transition);
}

@keyframes rotate {
    to {
        transform: rotate(90deg);
    }
}

@supports(selector(:has(:is(+ *)))) {
    body:has(button:is(:hover, :focus-visible)) {
        --active: 1;
        --play-state: running;
    }

    .bodydrop {
        display: none;
    }
}

.searchBtn:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
    --active: 1;
    --play-state: running;
}

button:is(:hover, :focus-visible) {
    --active: 1;
    --play-state: running;
}